.screen2-2 {
  display: grid;
  float: left;
}

.mobile-to-show {
  display: none;
}

.mobile-to-hide {
  display: show;
}

.banner {
  width: 100%;
  background: url(/public/frontend/images/image13x.png);
  padding-bottom: 80px;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center !important;
}

.button-QA {

  background: #0429B7;

  border-radius: 5px;

  padding: 25px 31px 25px 31px;

  border: #0429B7;

}



.button-QA:hover {

  text-decoration: none;

}



.button-QA > span {

  width: 265px;

  height: 21px;

  font-family: 'WorkSans-Bold';

  font-style: normal;

  font-weight: 700;

  font-size: 22px;

  line-height: 21px;

  text-align: center;

  color: #FFFFFF;

  flex: none;

  order: 0;

  flex-grow: 0;

}

.banner .container {
  width: 80%;
}

.screen2-2 .banner .text-bold {
  margin-top: 118px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  width: 78%;
}

.screen2-2 .banner .vertical {
  width: 10px;
  height: 95px;
  margin-top: 59px;
  background: #0429B7;
}

.screen2-2 .banner .text-medium {
  margin-left: 45px;
  margin-top: -98px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: left;
  color: #FFFFFF;
  width: 70%;
}

.screen2-2 .banner .text-small {
  margin-top: 51px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #FFFFFF;
  width: 88%;
}

.screen2-2 .banner .block-contact {
  align-items: flex-start;
  padding: 25px 31px;
  margin-top: 38px;
  background: #0429B7;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  width: 451px;
}

.banner1{display:none;}
table {
  width: 100% !important;
}
@media only screen and (max-width: 768px) {
  .mobile-to-show {
    display: block;
  }
  
  .mobile-to-hide {
    display: none;
  }
  .screen2-2 .concept .concept-top .concept-top-contnet {
    padding:0 15px!important;
    width: 100%!important;
  }
  .screen2-2 .concept .concept-top .text-bold{text-align: center;font-size:20px!important;margin-top:32px!important;}
  .screen2-2 .concept .concept-top .concept-top-contnet hr{margin-left: auto!important;}
  .screen2-2 .concept .concept-top .text-medium{font-size:14px!important;}
  .video-custom{
    width: 100%!important;
    height: calc(100vw/1.91) !important;
  }
  .screen2-2 .concept .concept-bottom .concept-left,.screen2-2 .concept .concept-bottom .concept-right{width:100%!important;}
  .screen2-2 .concept .concept-bottom .concept-right .text-medium, .screen2-2 .concept .concept-bottom .concept-right .text-small,.concept .concept-bottom .concept-left .text-small{font-size:14px!important;}
  .screen2-2 .concept .concept-bottom .concept-title{margin-top:42px!important;}
  .screen2-2 .concept .concept-bottom .concept-title .text-bold{font-size:18px!important;}
  .concept .concept-bottom .concept-left .text-title, .concept .concept-bottom .concept-right .text-title{font-size:16px!important;}
  .screen2-2 .booking{margin:32px 0 0!important;}
  .feasibility .feasibility-title .text-bold, .note .note-title .text-bold, .when .when-title .text-bold, .qa .qa-title .text-bold{font-size:18px!important;}
  .note, .feasibility, .when,.before-surgery,.screen2-2 .result,.note{padding:0 15px!important;}
  .note .note-title, .feasibility .feasibility-title, .qa .qa-title{margin:25px auto!important;}
  .feasibility .text, .note .text{border-right:unset!important;}
  .feasibility .text .text-medium, .note .text .text-medium, .when .text-small li{font-size:14px!important;}
  .screen2-2 .result .result-title .text-bold{font-size:18px!important;}
  .screen2-2 .result .left{width:100%!important;}
  .screen2-2 .result .effective-title .text-bold{text-align:center;}
  .screen2-2 .result .effective-title hr{margin:20px auto!important;}
  .screen2-2 .result .text-medium-4{font-size:14px!important;}
  .screen2-2 .result #iframe-2{padding:0!important;}
  .backround-before-surgery{margin-top:42px!important;}
  .before-surgery .text-bold-1{font-size:18px!important;}
  .before-surgery .step .text-bold,.before-surgery .step .text-medium{font-size:14px!important;}
  .before-surgery .left{margin-top:32px!important;}
  .before-surgery .left .text-bold-2, .before-surgery .right .text-bold-3{font-size:18px!important;}
  .before-surgery .left .text-medium, .before-surgery .right .text-medium,.before-surgery .left .left-step{font-size:14px!important;}
  .before-surgery .right .text-bold-3{margin-top:32px!important;}
  .screen2-2 .result .evaluate-title{margin-top:42px!important;padding-left:0!important;padding-right:0!important;}
  .screen2-2 .result .evaluate-title .text-bold{font-size:18px!important;}
  .screen2-2 .result .text-medium-2{font-size:14px!important;}
  /*.note{padding:15px 0!important;}*/
  .screen2-2 .booking .booking-block{padding:8px 6px!important;font-size:16px!important;width:60%;text-align:center!important;margin-top:30px!important;height:42px;}
  .screen2-2 .booking .text-semibold{font-size:12px!important;}
  .screen2-2 .result .text-medium-3{width:100%!important;font-size:14px!important;}
  .when .when-title{margin:0!important;}
  .when .note{font-size:14px!important;}
  .when .text-small{padding-left:15px!important;margin-top:15px!important;width:100%!important;}
  .backround-qa{margin-top:42px!important;}
  .collapsible{font-size:14px!important;} 
  .content p{font-size:14px!important;}
  .before-surgery .left{border-right:unset!important;}
  .screen2-2 .result .result-title{margin:50px auto 0!important;}
  .block-text-medium{margin:24px 0!important;width:100%!important;font-size:14px!important;}
  .screen2-2 .result .result-left{width:100%!important;}
  .button-QA{margin:auto!important;padding: 11.5px 14px!important;display: block!important}
  .button-QA > span{font-size:14px!important;}
  .screen2-2 .result .image-2{width:100%!important;margin-top:39px!important;height:265px!important;}
  .screen2-2 .result .image-2 .backround{height:265px!important;}
  .screen2-2 .result .image-2 .backround .text{margin-top:77px!important;}
  .screen2-2 .result .image-2 .text-bold{font-size:14px!important;}
  .screen2-2 .result .image-2 .text-medium{font-size:12px!important;}
  .button-QA{padding:14px 24px;}
  .screen2-2 .concept .concept-top .text-bold,.feasibility .feasibility-title .text-bold,.screen2-2 .result .result-title .text-bold,.screen2-2 .result .evaluate-title .text-bold,.note .note-title .text-bold,.when .when-title .text-bold,.screen2-2 .result .effective-title .text-bold{line-height:unset!important;font-size:18px!important;}
  .footer .contact .number{font-size:35px;}
  .screen2-2 .concept .concept-bottom .concept-title .text-bold{font-size:18px!important;}
  .qa,.screen2-2 .result,.note{width:100%!important;margin:0!important;}
  .when .note{padding:0!important;}
  .screen2-2 .tag .tag-block span,.screen2-2 .banner .text-small{font-size:16px!important;}
  .screen2-2 .banner .block-contact{font-size:17px!important;}
  .screen2-2 .banner .text-medium{font-size:12px!important;width:37%!important;}
  .screen2-2 .banner .text-bold{font-size:24px!important;line-height:40px!important;}
  .screen2-2 .result #iframe-1{margin-right:0!important;}
  .text-banner,p.text-semibold{padding:0!important;}
  p.text-semibold{font-size:14px!important;}
  .screen2-2 .banner .text-small,.screen2-2 .banner .block-contact,.screen2-2 .tag{display:none;}
  .banner1{display:block;background:none!important;padding-bottom:0;}
  .banner1 .text-small,.banner1 .block-contact{display:block!important;}
  .banner1 .text-small{color:black!important;}
  .screen2-2 .banner1 .block-contact{font-size:11px!important;}
  .screen2-2 .concept .concept-top .text-bold,.screen2-2 .concept .concept-top .concept-top-contnet hr,.screen2-2 .result .effective-title .text-bold,.screen2-2 .result .effective-title hr{text-align:left!important;}
  .screen2-2 .concept .concept-top .concept-top-contnet hr,.screen2-2 .result .effective-title hr{margin:20px 0!important;}
  .screen2-2 .banner .vertical{width:5px!important;}
  .banner{padding-bottom:5px!important;}
  .screen2-2 .result .text-medium-2{text-align:justify!important;}
  .contact-specialist{font-size:18px!important;}
  .qa .collapsible span{text-align:left!important;}
  .content{padding:0 54px 0 30px!important;text-align:left!important;}
  .screen2-2 .booking .text-semibold{width:78%!important;}
  .result-left .button-QA{margin:29px auto 0!important;}
  .backround-feasibility,.when{margin-top:42px!important;}
  .when img{border-right:none!important;}
    
    
    
    
    
    
    
  .screen2-2 .banner .text-bold {
    /*padding-top: 27px;*/
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    width: 100%;
    margin-top:37px!important;
  }

  .screen2-2 .banner .container {
    width: 100%;
  }
  
  .screen2-2 .banner .vertical {
    width: 10px;
    height: 95px;
    margin-top: 30px;
    background: #0429B7;
  }
  
  .screen2-2 .banner .text-medium {
    margin-left: 18px;
    margin-top: -98px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 33px;
    text-align: justify;
    color: #FFFFFF;
    width: 100%;
    padding-right: 26px;
  }
  
  .screen2-2 .banner .text-small {
    margin-top: 28px;
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    width: 100%;
  }
  
  .screen2-2 .banner .block-contact {
    align-items: flex-start;
    padding: 18px 30px;
    margin-left: 19px;
    margin-top: 38px;
    background: #0429B7;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 89%;
    margin-bottom: 30px;
  }
}

@media(max-width:546px){
    .screen2-2 .banner .text-medium{line-height:24px!important;}
}

@media(max-width:452px){
    .screen2-2 .banner .text-medium{padding-right:unset!important;}
}

@media(max-width:440px){
    .screen2-2 .booking .text-semibold{width:40%!important;float:left;}
    .booking .button-QA{width:140px;height:45px;float:right;}
    /* .screen2-2 .booking{display:block!important;height:92px;} */
}

@media(max-width:382px){
    .screen2-2 .banner .text-medium{width:46%!important;}
    .screen2-2 .banner .text-bold{font-size:18px!important;line-height:30px!important;}
}

@media(max-width:359px){
    .screen2-2 .booking{height:unset;}
}

.screen2-2 .tag {
  width: 100%;
  background: #111B27;
  text-align: center;
  padding: 20px 0px;
}

.screen2-2 .tag .tag-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background: #0062FF;
}

.screen2-2 .tag a {
  color: #337ab7;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: auto;
}

.screen2-2 .tag .tag-block span {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.screen2-2 .concept {
  Width: 80%;
  margin: auto;
}

.screen2-2 .concept .concept-top .text-bold {
  margin-top: 100px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #000000;
}

.screen2-2 .concept .concept-top .concept-top-contnet {
  padding: 0px;
}

.screen2-2 .concept .concept-top .concept-top-contnet  hr{
  border: 2px solid #000000;
  width: 109px;
  margin-left: 0px;
}

.screen2-2 .concept .concept-top .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.screen2-2 .concept .concept-top #iframe-3 {
  margin-top: 100px;
  padding: 0px;
  border: none;
}

.screen2-2 .concept .concept-bottom  .concept-title{
  margin-top: 80px;
  display: inline-block;
  width: 100%;
}

.screen2-2 .concept .concept-bottom .concept-title  .text-bold{
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.screen2-2 .concept .concept-bottom .concept-title  hr{
  width: 109px;
  border: 2px solid #000000;
  margin: auto;
  margin-top: 25px;
}

.screen2-2 .concept .concept-bottom .concept-left {
  padding: 0px;
  margin-top: 76px;
}

.concept .concept-bottom .concept-left .text-title,
.concept .concept-bottom .concept-right .text-title {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
}

.concept .concept-bottom .concept-left .text-small {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-left: -12px;
}

.concept .concept-bottom .concept-left .text-small li{
  margin-bottom: 10px;
}

.screen2-2 .concept .concept-bottom .concept-right {
  padding: 0px;
  margin-top: 76px;
}

.screen2-2 .concept .concept-bottom .concept-right .text-medium,
.screen2-2 .concept .concept-bottom .concept-right .text-small{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.screen2-2 .concept .concept-bottom .concept-right .text-small li{
  margin-bottom: 10px;
}

.screen2-2 .concept .concept-bottom .concept-right .text-small {
  margin-left: -12px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

@media only screen and (max-width: 768px) {
  .screen2-2 .concept {
    width: 100%;
  }
  .screen2-2 .concept .concept-top .concept-top-contnet {
    padding-right: 15px;
}
.screen2-2 .concept .concept-top #iframe-3 {
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}
.screen2-2 .concept .concept-bottom {
  padding-left: 15px;
  padding-right: 15px;
}
.screen2-2 .concept .concept-bottom .concept-left {
  margin-top: 31px;
  padding: 0px;
}
.screen2-2 .concept .concept-bottom .concept-right {
  margin-top: 31px;
  padding: 0px;
}
.screen2-2 .result .effective-title .text-bold {
  margin-top: 42px !important;
}
.screen2-2 .result .text-medium-4 {
  /*padding-right: 15px;*/
  margin-top: 30px;
}
.screen2-2 .result #iframe-2 {
  /*padding-left: 15px !important;*/
}
}

.screen2-2 .booking {
  width: 100%;
  background: #1E3045;
  display: inline-flex;
  padding: 15px;
  margin-top:80px;
}

.screen2-2 .booking .text-semibold {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  color: #FFFFFF;
  margin: auto 0 auto 50px;
}

.screen2-2 .booking .booking-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .screen2-2 .booking .text-semibold {
    font-family: 'WorkSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    margin-left: 0px;
    text-align: justify;
  }
}

.screen2-2 .result {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.screen2-2 .result .result-title {
  margin: 65px auto 0;
  width: 100%;
}

.screen2-2 .result .result-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.screen2-2 .result .result-title hr {
  width: 109px;
  border: 2px solid #000000;
  margin: auto;
  margin-top: 25px;
}

.screen2-2 .result .result-left .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 60px;
}

.screen2-2 .result .result-left {
  padding: 0px;
}

.screen2-2 .result .left {
  padding: 0px;
}

.screen2-2 .result .text-medium a {
    color:  #0062FF;
}

.screen2-2 .result #image-1 {
  width: 100%;
  height: 406px;
}

.screen2-2 .result .image-2 {
  height: 480px;
  display: grid;
  padding: 0px;
}

.screen2-2 .result .image-2 .backround .text {
  margin-top: 22%;
  text-align: center;
}

.screen2-2 .result .image-2 .backround {
  background: #000000;
}

.screen2-2 .result .image-2 .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
}

.screen2-2 .result .image-2 .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  text-align: center;
  color: #B5B5B5;
}

.screen2-2 .result .image-2 .confirm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  width: 155px;
  height: 71px;
  left: 263px;
  top: 266px;
  background: #0429B7;
  border-radius: 5px;
  margin: auto;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.screen2-2 .result .library {
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 48px;
  width: 55%;
}

.screen2-2 .result .evaluate-title {
  margin-top: 80px;
  display: inline-block;
  width: 100%;
}

.screen2-2 .result .evaluate-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.screen2-2 .result .evaluate-title hr {
  width: 109px;
  border: 2px solid #000000;
  margin: auto;
  margin-top: 25px;
}

.screen2-2 .result .text-medium-2 {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
  text-align: center;
  margin: 22px auto 25px;
}

.screen2-2 .result .bottom-block-2 {
  display: flex;
  width: 100%;
}

.screen2-2 .result .text-medium-3 {
  font-style: normal;
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
    font-weight: 500;
    font-family: 'WorkSans-Medium';
    padding: 0px;
}

.screen2-2 .result .text-medium-3 span {
  color: #000000;
  font-weight: 700;
  font-family: 'WorkSans-Bold';
}

.screen2-2 .result .effective-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
  margin-top: 100px;
}

.screen2-2 .result .effective-title hr {
  width: 109px;
  border: 2px solid #000000;
  margin: 20px 0;
}

.screen2-2 .result .text-medium-4 {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.screen2-2 .result #iframe-1 {
  padding: 0px;
  border: none;
}

.screen2-2 .result #iframe-2 {
  padding: 0px;
  border: none;
  margin-top: 100px;
}

.screen2-2 .result .text-medium-4 li {
  margin-left: -11px;
  margin-top: 16px;
}
.line-x {
  border-right: 2px solid #0429B7;
}
@media only screen and (max-width: 768px) {
  .screen2-2 .result {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .screen2-2 .result .result-left {
    padding-right: 0px;
  }

  .screen2-2 .result .library {
    width: 100%;
  }
  .screen2-2 .result .image-2 {
    margin-top: 30px;
    /*padding-left: 15px;*/
  }
  .screen2-2 .result .image-2 .backround {
    margin-left: 0px;
  }
  .screen2-2 .result #iframe-1 {
    width: 100% !important;
  }
  .screen2-2 .result .text-medium-3 {
    width: 100%;
    margin-top: 30px;
  }
  .screen2-2 .result .bottom-block-2 {
    display: block;
  }
  .screen2-2 .result .left {
    padding-right: 0px;
  }
  .screen2-2 .result #iframe-2 {
    margin: 0;
    width: 100%;
  }
}

.backround-before-surgery {
  width: 100%;
  background: rgba(0, 98, 255, 0.2);
  margin-top: 100px;
}

.before-surgery {
  width: 80%;
  padding: 0px;
    margin-bottom: 50px;
}

.before-surgery .text-bold-1 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 36px;
}

.before-surgery .left .left-step {
  margin-bottom:20px;
}

.before-surgery .step .text-bold{
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 32px;
}

.before-surgery .step .text-medium{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.before-surgery .right {
  margin-top: 58px;
  padding-left: 53px;
  padding-right: 0;
}

.before-surgery .left {
  margin-top: 58px;
  padding-right: 53px;
  padding-left: 0;
  border-right: 2px solid #0429B7;
}

.before-surgery .left .text-bold-2,
.before-surgery .right .text-bold-3 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.before-surgery .left .text-medium,
.before-surgery .right .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.before-surgery .vertical {
  border: 2px solid #0429B7;
  transform: rotate(90deg);
  position: relative;
  top: 430px;
  width: 715px;
  margin: auto;
}

.note,
.feasibility,
.when {
  width: 80%;
  padding-bottom: 50px;
}

.backround-feasibility {
  background: rgba(0, 98, 255, 0.2);
}

.backround-qa {
  background: rgba(0, 98, 255, 0.2);
  margin-top: 100px;
}

.qa {
  padding-bottom: 50px;
}

.note .note-title,
.feasibility .feasibility-title,
.qa .qa-title {
  width: 78%;
  margin: 100px auto 68px;
}

.when .when-title {
  width: 66%;
  margin: 100px auto 68px;
}

.feasibility .feasibility-title .text-bold,
.note .note-title .text-bold,
.when .when-title .text-bold,
.qa .qa-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.feasibility .feasibility-title hr,
.note .note-title hr,
.when .when-title hr,
.qa .qa-title hr {
  width: 109px;
  border: 2px solid #000000;
}

.feasibility .text,
.note .text {
  padding-left: 0px;
  padding-right:53px;
}

.feasibility .text .text-medium,
.note .text .text-medium,
.when .text-small li {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.feasibility img,
.note img {
  padding-right: 0px;
  padding-left:53px;
}

.feasibility .vertical,
.when .vertical {
  border: 2px solid #0429B7;
  transform: rotate(90deg);
  position: relative;
  top: 231px;
  width: 454px;
  margin: auto;
}
.block-text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 28px;
}
.when .text-small {
  padding-right: 0px;
  padding-left:68px;
}

.when img {
  padding-left: 0px;
  padding-right:53px;
  border-right: 2px solid #0429B7;
}

.when .note {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  width: 100%;
}

.contact-specialist {
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  width: auto;
  margin: auto;
}
@media only screen and (max-width: 1790px) {.screen2-2 .concept .concept-top .text-bold{font-size: 26px;}.screen2-2 .concept .concept-top .text-medium{font-size: 16px;}.screen2-2 .concept .concept-bottom .concept-title .text-bold{font-size: 26px;}.screen2-2 .concept .concept-bottom .concept-right .text-medium, .screen2-1 .concept .concept-bottom .concept-right .text-small{font-size: 16px;}.screen2-2 .concept .concept-bottom .concept-right .text-small{font-size: 16px;}.concept .concept-bottom .concept-left .text-title, .concept .concept-bottom .concept-right .text-title{font-size: 22px;}.screen2-2 .result .result-title .text-bold{font-size: 26px;}.screen2-2 .result .evaluate-title .text-bold{font-size: 26px;}.screen2-2 .result .effective-title .text-bold{font-size: 26px;}.feasibility .feasibility-title .text-bold, .note .note-title .text-bold, .when .when-title .text-bold, .qa .qa-title .text-bold{font-size: 26px;}.feasibility .feasibility-title .text-bold, .note .note-title .text-bold, .when .when-title .text-bold, .qa .qa-title .text-bold{font-size: 26px;}.before-surgery .text-bold-1{font-size: 28px;}.before-surgery .step .text-bold{font-size: 16px;}.before-surgery .step .text-medium{font-size: 16px;}.feasibility .text .text-medium, .note .text .text-medium, .when .text-small li{font-size: 16px;}}@media only screen and (max-width: 1350px) {.screen2-2 .concept .concept-top .text-bold{font-size: 22px;}.screen2-2 .concept .concept-top .text-medium{font-size: 14px;}.screen2-2 .concept .concept-bottom .concept-title .text-bold{font-size: 22px;}.screen2-2 .concept .concept-bottom .concept-right .text-medium, .screen2-1 .concept .concept-bottom .concept-right .text-small{font-size: 14px;}.screen2-2 .concept .concept-bottom .concept-right .text-small{font-size: 14px;}.concept .concept-bottom .concept-left .text-title, .concept .concept-bottom .concept-right .text-title{font-size: 22px;}.screen2-2 .result .result-title .text-bold{font-size: 22px;}.screen2-2 .result .evaluate-title .text-bold{font-size: 22px;}.screen2-2 .result .effective-title .text-bold{font-size: 22px;}.feasibility .feasibility-title .text-bold, .note .note-title .text-bold, .when .when-title .text-bold, .qa .qa-title .text-bold{font-size: 22px;}.feasibility .feasibility-title .text-bold, .note .note-title .text-bold, .when .when-title .text-bold, .qa .qa-title .text-bold{font-size: 22px;}.before-surgery .text-bold-1{font-size: 24px;}.before-surgery .step .text-bold{font-size: 14px;}.before-surgery .step .text-medium{font-size: 14px;}.feasibility .text .text-medium, .note .text .text-medium, .when .text-small li{font-size: 14px;}}
@media only screen and (max-width: 768px) {
  
.note,
.feasibility,
.when {
  width: 100%;
  padding-bottom: 50px;
}

.feasibility .text .text-medium,
.note .text .text-medium,
.when .text-small li {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.feasibility img,
.note img {
  padding-left: 0px;
  width: 100%;
  margin-bottom: 30px;
}

.when img {
  padding-right: 0px;
  width: 100%;
  margin-bottom: 30px;
}

.before-surgery {
  width: 100%;
}

.before-surgery .right {
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0;
}

.feasibility .vertical, .when .vertical {
  display: none;
}

.before-surgery .vertical {
  display: none;
}

.contact-specialist {
  width: auto;
  margin: auto;
}

.before-surgery .left {
  padding-right: 0px;
}

.feasibility .text, .note .text {
  padding-right: 0px;
}

.when .when-title,
.note .note-title,
.feasibility .feasibility-title,
.qa .qa-title {
  width: 100%;
}
}