.screen2-3 {
  display: grid;
  float: left;
}
.mobile-to-show {
  display: none;
}

.mobile-to-hide {
  display: show;
}

.banner {
  /*width: 100%;*/
  background: url(/public/frontend/images/2-3-1.png);
  padding:7% 10%;
  background-size:cover;
  background-position:center;
}

.qa{width:80%;margin:auto;}
.qa .content p{line-height:170%;}

.banner .container {
  width: 80%;
}

.screen2-3 .banner .text-bold {
  /*padding-top: 116px;*/
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  width: 78%;
}

.screen2-3 .banner .vertical {
  width: 10px;
  height: 95px;
  margin-top:59px;
  background: #0429B7;
}

.screen2-3 .banner .text-medium {
  margin-left: 46px;
  margin-top: -98px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: left;
  color: #FFFFFF;
  width: 448px;
}

.screen2-3 .banner .text-small {
  margin-top: 51px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #FFFFFF;
  width:617px;
}

.screen2-3 .banner .block-contact {
  align-items: flex-start;
  padding: 25px 31px;
  margin-top: 49px;
  background: #0429B7;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  width:fit-content;
}


/*@media only screen and (max-width: 768px) {*/
/*  .screen2-3 .banner .text-bold {*/
/*    font-family: 'WorkSans-Bold';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 50px;*/
/*    line-height: 55px;*/
/*    color: #FFFFFF;*/
/*    width: 100%;*/
/*  }*/

/*  .screen2-3 .banner .container {*/
/*    width: 100%;*/
/*  }*/
  
/*  .screen2-3 .banner .vertical {*/
/*    width: 10px;*/
/*    height: 95px;*/
/*    margin-top: 30px;*/
/*    background: #0429B7;*/
/*  }*/
  
/*  .screen2-3 .banner .text-medium {*/
/*    margin-left: 18px;*/
/*    margin-top: -98px;*/
/*    font-family: 'WorkSans-Bold';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 21px;*/
/*    line-height: 33px;*/
/*    text-align: justify;*/
/*    color: #FFFFFF;*/
/*    width: 100%;*/
    /*padding-right: 26px;*/
/*  }*/
  
/*  .screen2-3 .banner .text-small {*/
/*    margin-top: 28px;*/
/*    font-family: 'WorkSans-Medium';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 20px;*/
/*    line-height: 170%;*/
/*    color: #FFFFFF;*/
/*    width: 100%;*/
/*  }*/
  
  /*.screen2-3 .banner .block-contact {*/
  /*  align-items: flex-start;*/
  /*  padding: 25px 31px;*/
  /*  margin-left: 19px;*/
  /*  margin-top: 38px;*/
  /*  background: #0429B7;*/
  /*  border-radius: 5px;*/
  /*  cursor: pointer;*/
  /*  font-family: 'WorkSans-Bold';*/
  /*  font-style: normal;*/
  /*  font-weight: 700;*/
  /*  font-size: 22px;*/
  /*  line-height: 26px;*/
  /*  text-align: center;*/
  /*  color: #FFFFFF;*/
  /*  width: 89%;*/
  /*}*/
/*}*/

.screen2-3 .tag {
  width: 100%;
  background: #111B27;
  text-align: center;
  padding: 20px 0px;
}

.screen2-3 .tag .tag-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  background: #0062FF;
}

.screen2-3 .tag a {
  color: #337ab7;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: auto;
}

.screen2-3 .tag .tag-block span {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.screen2-3 .concept {
  Width: 80%;
  margin: auto;
}

.screen2-3 .concept .concept-top .text-bold {
  margin-top: 100px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
}

.padding-0 {
  padding: 0px;
}

.screen2-3 .concept .concept-top .concept-top-contnet  hr{
  border: 2px solid #000000;
  width: 109px;
  margin-left: 0px;
}

.screen2-3 .concept .concept-top .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.screen2-3 .concept .concept-top #iframe-3 {
  margin-top: 100px;
  padding: 0px;
  border: none;
}

.screen2-3 .concept .concept-bottom  .concept-title{
  margin-top: 80px;
  display: inline-block;
  width: 100%;
}

.screen2-3 .concept .concept-bottom .concept-title  .text-bold{
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.screen2-3 .concept .concept-bottom .concept-title  hr{
  width: 109px;
  border: 2px solid #000000;
  margin: auto;
  margin-top: 25px;
}

.screen2-3 .concept .concept-bottom .concept-left {
  padding-right: 53px;
  margin-top: 76px;
}


.button-QA {
  background: #0429B7;
  border-radius: 5px;
  padding: 25px 31px 25px 31px;
  border: #0429B7;
}

.button-QA > span {
  width: 265px;
  height: 21px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.concept .concept-bottom .concept-left .text-title,
.concept .concept-bottom .concept-right .text-title {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
}

.concept .concept-bottom .concept-left .text-small {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-left: -12px;
}

.concept .concept-bottom .concept-left .text-small li{
  margin-bottom: 10px;
}

.screen2-3 .concept .concept-bottom .concept-right {
  padding-left: 53px;
  margin-top: 76px;
}

.screen2-3 .concept .concept-bottom .concept-right .text-medium,
.screen2-3 .concept .concept-bottom .concept-right .text-small{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.screen2-3 .concept .concept-bottom .concept-right .text-small li{
  margin-bottom: 10px;
}

.screen2-3 .concept .concept-bottom .concept-right .text-small {
  margin-left: -12px;
}

@media only screen and (max-width: 768px) {
  .mobile-to-show {
    display: block;
  }
  
  .mobile-to-hide {
    display: none;
  }
  .screen2-3 .concept {
    width: 100%;
  }
  .screen2-3 .concept .concept-top .concept-top-contnet {
    padding-right: 15px;
}
.screen2-3 .concept .concept-top #iframe-3 {
  margin-top: 0px;
  padding-left: 15px;
  border: none;
}
.screen2-3 .concept .concept-bottom {
  padding-left: 15px;
  padding-right: 15px;
}
.screen2-3 .concept .concept-bottom .concept-left {
  margin-top: 31px;
  padding: 0px;
}
.screen2-3 .concept .concept-bottom .concept-right {
  margin-top: 31px;
  padding: 0px;
}
.screen2-3 .result .effective-title .text-bold {
  margin-top: 50px !important;
}
.screen2-3 .result .text-medium-4 {
  /* padding-right: 15px; */
  margin-top: 30px;
}
.screen2-3 .result #iframe-2 {
  /*padding-left: 15px !important;*/
}
.result .bottom-block-1 .text-medium-3 {
  width: auto !important;
  margin-left: 0 !important;
}
.screen2-3 .booking {
  display: flex !important;
}
.button-QA span {
  font-size: 14px!important;
}
.button-QA {
  display: block;
  margin: auto;
  padding: 18px 30px;
}
.concept .concept-top-contnet {
  width: 100% !important;
}
}

.screen2-3 .booking {
  width: 100%;
  background: #1E3045;
  display: inline-flex;
  padding: 15px;
  margin-top:80px;
}

.screen2-3 .booking .text-semibold {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  color: #FFFFFF;
  margin: auto 0 auto 50px;
}

.screen2-3 .booking .booking-block {
  /*display: flex;*/
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #FFFFFF;
}


@media only screen and (max-width: 768px) {
  .screen2-3 .booking .text-semibold {
    font-family: 'WorkSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #FFFFFF;
    margin-left: 0px;
  }
}

.screen2-3 .result {
  width: 80%;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  margin:65px auto 0;
}

.screen2-3 .result .result-title {
  /*margin: 65px auto 0;*/
  /*width: 100%;*/
}

.screen2-3 .result .result-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.screen2-3 .result .result-title hr {
  width: 109px;
  border: 2px solid #000000;
  margin: auto;
  margin-top: 25px;
}

.screen2-3 .result .result-left .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 60px;
}

.screen2-3 .result .result-left {
  padding: 0px;
}

.screen2-3 .result .left {
  padding-right: 53px;
}

.screen2-3 .result .text-medium a {
    color:  #0062FF;
}

.screen2-3 .result #image-1 {
  width: 100%;
  height: 406px;
  margin-top: 28px;
}

.screen2-3 .result .image-2 {
  margin-top:0px;
  height: 480px;
  display: grid;
  padding-left: 53px;
}

.screen2-3 .result .image-2 .backround .text {
  margin-top: 22%;
  text-align:center;
}

.screen2-3 .result .image-2 .backround {
  background: #000000;
}

.screen2-3 .result .image-2 .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
}

.screen2-3 .result .image-2 .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  text-align: center;
  color: #B5B5B5;
}

.screen2-3 .result .image-2 .confirm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  width: 155px;
  height: 71px;
  left: 263px;
  top: 266px;
  background: #0429B7;
  border-radius: 5px;
  margin: auto;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.screen2-3 .result .library {
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 48px;
  width: 55%;
}

.screen2-3 .result .evaluate-title {
  /*margin-top: 80px;*/
  display: inline-block;
  width: 100%;
}

.screen2-3 .result .evaluate-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.screen2-3 .result .evaluate-title hr {
  width: 109px;
  border: 2px solid #000000;
  margin: auto;
  margin-top: 35px;
}

.screen2-3 .result .text-medium-2 {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
  text-align: center;
  margin: 29px auto 49px;
}

.screen2-3 .result .bottom-block-2 {
  display: flex;
  width: 100%;
  padding-top: 100px;
}

.screen2-3 .result .text-medium-3 {
  font-style: normal;
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
    font-weight: 500;
    font-family: 'WorkSans-Medium';
    /* padding-left: 53px; */
}

.screen2-3 .result .text-medium-3 span {
  color: #000000;
  font-weight: 700;
  font-family: 'WorkSans-Bold';
}

.screen2-3 .result .effective-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  color: #000000;
}

.screen2-3 .result .effective-title hr {
  width: 109px;
  border: 2px solid #000000;
  margin: 20px 0;
}

.screen2-3 .result .text-medium-4 {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.screen2-3 .result #iframe-1 {
  padding: 0px;
  border: none;
}

.screen2-3 .result #iframe-2 {
  padding: 0px;
  border: none;
}

.screen2-3 .result .text-medium-4 li {
  margin-left: -11px;
  margin-top: 16px;
}
.block-text-medium {
  font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 28px;
}
@media only screen and (max-width: 768px) {
  .screen2-3 .result {
    display: flex;
    flex-wrap: wrap;
    width: auto !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .screen2-3 .result .result-left {
    padding-right: 15px;
  }

  .screen2-3 .result .library {
    width: 100%;
  }
  .screen2-3 .result .image-2 {
    margin-top: 30px;
    padding-left: 15px;
  }
  .screen2-3 .result .image-2 .backround {
    margin-left: 0px;
  }
  .screen2-3 .result #iframe-1 {
    width: 100% !important;
    padding-right: 15px;
  }
  .screen2-3 .result .text-medium-3 {
    padding-left: 15px;
    width: 100%;
  }
  .screen2-3 .result .bottom-block-2 {
    display: block;
    padding-top: 0px !important;
  }
  .screen2-3 .result .left {
    padding-right: 0px;
  }
  .screen2-3 .result #iframe-2 {
    margin: 0;
    width: 100%;
  }
  table {
    width: 100% !important;
  }
  .result .concept-top-contnet {
    width: auto !important;
    margin-right: 0 !important;
  }
  .block-text-medium {
    font-size: 14px !important;
    width: 100% !important;
    margin-top: 0px;
  }
}

.backround-before-surgery {
  width: 100%;
  background: rgba(0, 98, 255, 0.2);
  margin-top: 100px;
}

.before-surgery {
  width: 80%;
}

.before-surgery .text-bold-1 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 36px;
}

.before-surgery .left .left-step {
  margin-bottom:20px;
  line-height:170%;
}

.before-surgery .step .text-bold{
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 32px;
}

.before-surgery .step .text-medium{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.before-surgery .right {
  margin-top: 58px;
  padding-left: 53px;
  padding-right: 0;
}

.before-surgery .left {
  margin-top: 58px;
  padding-right: 53px;
  padding-left: 0;
  padding-bottom: 50px;
  border-right: 2px solid #0429B7;
}

.before-surgery .left .text-bold-2,
.before-surgery .right .text-bold-3 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.before-surgery .left .text-medium,
.before-surgery .right .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.before-surgery .vertical {
  border: 2px solid #0429B7;
  transform: rotate(90deg);
  position: relative;
  top: 430px;
  width: 715px;
  margin: auto;
}

.note,
.feasibility,
.when {
  width: 80%;
  padding-bottom: 50px;
}

.backround-feasibility {
  background: rgba(0, 98, 255, 0.2);
}

.backround-qa {
  background: rgba(0, 98, 255, 0.2);
  margin-top: 100px;
}

.qa {
  padding-bottom: 50px;
}

.note .note-title,
.feasibility .feasibility-title,
.qa .qa-title {
  /*width: 78%;*/
  margin: 100px auto 85px;
}

.when .when-title {
  /*width: 66%;*/
  margin: 100px auto 30px;
}

.feasibility .feasibility-title .text-bold,
.note .note-title .text-bold,
.when .when-title .text-bold,
.qa .qa-title .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.feasibility .feasibility-title hr,
.note .note-title hr,
.when .when-title hr,
.qa .qa-title hr {
  width: 109px;
  border: 2px solid #000000;
}

.feasibility .text,
.note .text {
  padding-left: 0px;
  padding-right:53px;
}

.feasibility .text{
  border-right: 2px solid #0429B7;
}

.feasibility .text .text-medium,
.note .text .text-medium,
.when .text-small li {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.feasibility img,
.note img {
  padding-right: 0px;
  padding-left:53px;
}

.feasibility .vertical,
.when .vertical {
  border: 2px solid #0429B7;
  transform: rotate(90deg);
  position: relative;
  top: 231px;
  width: 454px;
  margin: auto;
}

.when .text-small {
  padding-right: 0px;
  padding-left:68px;
  border-left: 2px solid #0429B7;
}

.when img {
  padding-left: 0px;
  padding-right:53px;
}

.when .note {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  width: 100%;
  margin-bottom: 30px;
}

.contact-specialist {
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  font-family:'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  /*width: 20%;*/
  margin:88px auto 0;
}
/* .concept .concept-top-contnet {
  width: auto !important;
} */
.block-text-medium {
  font-size: 14px !important;
  /* width: 100% !important; */
  margin-top: 30px;
}

@media(max-width:1537px){
  .screen2-3 .result .bottom-block-2 {
    padding-top: 50px !important;
  }
}

@media(max-width:1397px){
  .screen2-3 .result .bottom-block-2 {
    padding-top: 0px !important;
  }
}

@media(max-width:1279px){
    .screen2-3 .banner .text-small{font-size:12px!important;}
    
}

@media(max-width:1279px){
    .screen2-3 .banner .block-contact{font-size:14px!important;padding:18px 30px;}
}

@media(max-width:1199px){
    .banner{padding:6% 6%;background-position:75%;}
    .screen2-3 .banner .text-bold{font-size:36px;line-height:50px;}
    .screen2-3 .banner .vertical{width:6px;height:76px;margin-top:31px;}
    .screen2-3 .banner .text-medium{margin-left:30px;font-size:20px;line-height:28px;width:307px;margin-top:-80px;}
    .screen2-3 .banner .text-small{margin-top:22px;font-size:14px;width:478px;}
    .screen2-3 .banner .block-contact{margin-top:35px;padding:18px 30px;font-size:16px;}
    .screen2-3 .result .image-2 .text-medium{font-size:14px!important;}
    .screen2-3 .concept .concept-top .text-bold,.screen2-3 .result .result-title .text-bold,.screen2-3 .result .effective-title .text-bold{margin-top:60px;font-size:24px!important;line-height:28px!important;}
    .screen2-3 .concept .concept-top .text-medium,.screen2-3 .concept .concept-bottom .concept-right .text-medium,.concept .concept-bottom .concept-left .text-small,.screen2-3 .booking .text-semibold,.screen2-3 .result .result-left .text-medium,.screen2-3 .result .text-medium-4,.before-surgery .step .text-bold,.before-surgery .step .text-medium,.before-surgery .left .left-step,.before-surgery .right .text-medium,.screen2-3 .result .text-medium-2,.screen2-3 .result .text-medium-3,.note .text .text-medium,.feasibility .text .text-medium,.when .note,.text-small li,.collapsible,.qa .content p,.screen2-3 .result .image-2 .text-bold,.button-QA > span{font-size:16px;}
    .screen2-3 .concept .concept-top #iframe-3,.screen2-3 .result #iframe-2{width:100%!important;margin-top:20px;padding-left:0;}
    .screen2-3 .concept .concept-bottom .concept-title{margin-top:60px;}
    .screen2-3 .concept .concept-bottom .concept-left{margin-top:46px;padding-right:15px;}
    .screen2-3 .concept .concept-bottom .concept-right{padding-left:15px;margin-top:26px;}
    .concept .concept-bottom .concept-left .text-title, .concept .concept-bottom .concept-right .text-title{font-size:18px!important;}
    .screen2-3 .booking{margin-top:46px;}
    .screen2-3 .booking .booking-block{font-size:14px!important;}
    .screen2-3 .result{margin:46px auto 0;}
    .screen2-3 .result .result-left .text-medium{width:100%!important;margin-top:24px;}
    .screen2-3 .result #image-1{margin-top:24px}
    .screen2-3 .result .library{margin:29px auto 0;width:fit-content;font-size:16px!important;padding:12px 14px!important;}
    .screen2-3 .result .image-2{margin-top:39px;padding-left:15px;height:unset;}
    .screen2-3 .result .image-2 .backround{height:300px!important}
    .screen2-3 .result .image-2 .backround .text{margin-top:84px;}
    .screen2-3 .result .bottom-block-2{display:block;}
    .screen2-3 .result .effective-title .text-bold{margin-top:48px;}
    .backround-before-surgery{margin-top:39px;}
    .before-surgery .text-bold-1{margin-top:29px;margin-bottom:0;}
    .before-surgery .left{margin-top:32px;padding-bottom:0;}
    .before-surgery .left .text-bold-2,.before-surgery .text-bold-1,.before-surgery .right .text-bold-3,.screen2-3 .result .evaluate-title .text-bold,.note .note-title .text-bold,.feasibility .feasibility-title .text-bold,.when .when-title .text-bold,.qa-title .text-bold,.screen2-3 .concept .concept-bottom .concept-title .text-bold{font-size:24px!important;line-height:28px!important;}
    .before-surgery .right{padding-left:0;}
    .before-surgery .left .text-medium{margin-bottom:0;}
    .before-surgery .right{margin-top:12px;}
    .screen2-3 .result .evaluate-title hr{margin-top:13px;}
    .screen2-3 .result .text-medium-2{text-align:justify;margin:24px auto;}
    .screen2-3 .result #iframe-1{width:100%;padding-right:15px;}
    .screen2-3 .result .text-medium-3{margin-top:23px;padding-left:15px;}
    .note .note-title{margin:42px 0;}
    .feasibility .text,.note .text,.before-surgery .left{border-right:unset;padding-right:0;}
    .note .text .text-medium{margin-bottom:10px;}
    .note img{padding-left:0;margin-top:26px;}
    .backround-feasibility{margin-top:42px;}
    .feasibility .feasibility-title{margin:34px 0 56px;}
    .feasibility img{padding-left:0;}
    .feasibility{padding-bottom:41px;}
    .when .when-title{margin:42px auto 59px;}
    .when img{padding-right:0;margin:42px auto;}
    .when .text-small{padding-left:18px;border-left:unset;}
    .text-small li{margin-bottom:10px!important;}
    .contact-specialist{font-size:14px!important;padding:16px 19px!important;margin-top:32px!important;}
    .backround-qa{margin-top:52px;}
    .qa .qa-title{margin:31px auto 41px;}
    .collapsible{padding:12px 16px!important;}
    .qa .collapsible span{width:98%!important;}
    .qa{padding-bottom:40px;}
    .footer{margin-top:0;}
    .screen2-3 .concept,.screen2-3 .result,.before-surgery,.note, .feasibility, .when,.qa{width:88%;}
    .concept-top #iframe-3,.screen2-3 .concept .concept-top .concept-top-contnet,.screen2-3 .result .result-left,.screen2-3 .result .image-2,.screen2-3 .result .left,.before-surgery,.screen2-3 .result .evaluate-title,.screen2-3 .result #iframe-1,.screen2-3 .result .text-medium-3,.note, .feasibility, .when,.qa,.screen2-3 .concept .concept-bottom .concept-right,.screen2-3 .booking .text-semibold{padding-left:0;}
    .screen2-3 .concept .concept-top .concept-top-contnet,.screen2-3 .result .result-left,.screen2-3 .result .left,.screen2-3 .concept .concept-top #iframe-3,.screen2-3 .result .image-2,.screen2-3 .result #iframe-2,.before-surgery,.screen2-3 .result .evaluate-title,.screen2-3 .result #iframe-1,.screen2-3 .result .text-medium-3,.note, .feasibility, .when,.qa,.screen2-3 .concept .concept-bottom .concept-left,.screen2-3 .booking .text-semibold,.screen2-3 .concept .concept-bottom .concept-right{padding-right:0;}
    .content{padding:0 40px 0 18px!important}
    .video-custom{
      width: 100%!important;
      height: calc(100vw/1.91) !important;
    }

}

.banner1{display:none;}

@media(max-width:1023px){
    .banner{padding:17% 6%;} 
    .screen2-3 .banner .text-bold{font-size:24px;line-height:34px;}
    .screen2-3 .banner .vertical{width:3px;height:52px;margin-top:31px;}
    .screen2-3 .banner .text-medium{margin-left:15px;margin-top:-58px;font-size:12px;line-height:21px;width:184px;}
    .screen2-3 .banner .text-small,.screen2-3 .banner .block-contact,.screen2-3 .tag{display:none;}
    .banner1,.banner1 .text-small,.banner1 .block-contact{display:block!important;}
    .banner1 .text-small{color:black!important;width:100%!important;margin-top:32px;}
    .banner1{background:none;padding:0 6%;}
    .banner1 .block-contact{margin:35px auto 0;font-size:14px;}
    .screen2-3 .concept .concept-top .text-medium,.screen2-3 .concept .concept-bottom .concept-right .text-medium,.concept .concept-bottom .concept-left .text-small,.screen2-3 .booking .text-semibold,.screen2-3 .result .result-left .text-medium,.screen2-3 .result .text-medium-4,.before-surgery .step .text-bold,.before-surgery .step .text-medium,.before-surgery .left .left-step,.before-surgery .right .text-medium,.screen2-3 .result .text-medium-2,.screen2-3 .result .text-medium-3,.note .text .text-medium,.feasibility .text .text-medium,.when .note,.text-small li,.collapsible,.qa .content p,.screen2-3 .result .image-2 .text-bold{font-size:14px!important;line-height:21px!important;}
    .before-surgery .left .text-bold-2,.before-surgery .text-bold-1,.before-surgery .right .text-bold-3,.screen2-3 .result .evaluate-title .text-bold,.note .note-title .text-bold,.feasibility .feasibility-title .text-bold,.when .when-title .text-bold,.qa-title .text-bold,.screen2-3 .concept .concept-top .text-bold, .screen2-3 .result .result-title .text-bold, .screen2-3 .result .effective-title .text-bold,.screen2-3 .concept .concept-bottom .concept-title .text-bold{font-size:16px!important;line-height:24px!important;}
    .screen2-3 .result .image-2 .text-medium{font-size:12px!important;}
    .screen2-3 .concept .concept-top .text-bold{margin-top:32px;}
    .screen2-3 .concept .concept-bottom .concept-title{margin-top:49px;}
    .screen2-3 .concept .concept-bottom .concept-left{margin-top:18px;}
    .screen2-3 .booking{display:block;}
    .screen2-3 .booking .booking-block{text-align:center;float:right;}
    .screen2-3 .booking{padding:3%;}
    .screen2-3 .booking .text-semibold{margin-left:0;margin-top:27px;}
    .screen2-3 .result .result-title .text-bold{margin-top:0;}
    .screen2-3 .result{margin:34px auto 0;}
    .screen2-3 hr{width:45px!important;margin-top:13px!important;margin-bottom:24px!important;border:1px solid #000!important;}
    .feasibility .feasibility-title{margin:34px auto 0;}
    .when .when-title,.note .note-title{margin:42px auto 0;}
    .screen2-3 .result .image-2 .backround .text{margin-top:100px;}
    .screen2-3 .banner .text-small{font-size:14px!important;}
}

@media(max-width:1009px){
    .screen2-3 .banner .text-bold{margin-bottom:31px!important;}
}

@media(max-width:926px){
    .screen2-3 .booking .booking-block{padding:11px 14px}
    .screen2-3 .booking .text-semibold{margin-top:12px;}
}

@media(max-width:840px){
    .banner{padding:10% 5%;} 
    .banner1{background:none;padding:0 5%;}
    .screen2-3 .concept,.screen2-3 .result,.before-surgery,.note, .feasibility, .when,.qa{width:90%;}
}

@media(max-width:822px){
    .screen2-3 .banner .text-medium{font-size:12px!important;width: 192px!important;line-height: 14px!important;margin-top:-42px!important;}
    .screen2-3 .banner .vertical{height:41px!important;}
}

@media(max-width:806px){
    .screen2-3 .booking .text-semibold{margin-top:0;}
}

@media(max-width:789px){
    /*.screen2-3 .booking .booking-block{width:160px}*/
}

@media only screen and (max-width: 768px) {
    .screen2-3 .booking .text-semibold{width:40%;float:left;text-align:justify;}
.note,
.feasibility,
.when {
  width: 100%;
  /*padding-bottom: 50px;*/
}

.feasibility .text .text-medium,
.note .text .text-medium,
.when .text-small li {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

.feasibility img,
.note img {
  padding-left: 0px;
  width: 100%;
  margin-bottom: 20px;
}

.when img {
  padding-right: 0px;
  width: 100%;
}

.before-surgery {
  width: 100%;
}

.before-surgery .right {
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0;
}

.feasibility .vertical, .when .vertical {
  display: none;
}

.before-surgery .vertical {
  display: none;
}

.contact-specialist {
  width: auto;
  margin: auto;
}

.before-surgery .left {
  padding-right: 0px;
}

.feasibility .text, .note .text {
  padding-right: 0px;
}

.when .when-title,
.note .note-title,
.feasibility .feasibility-title,
.qa .qa-title {
  width: 100%;
}
}

@media(max-width:720px){.screen2-3 .banner .text-bold{font-size:24px!important;line-height:34px!important;}}

@media(max-width:670px){
    .banner{padding:9% 3%;} 
    .banner1{background:none;padding:0 3%;}
    .screen2-3 .banner1 .block-contact{font-size:14px;}
    .screen2-3 .concept,.screen2-3 .result,.before-surgery,.note, .feasibility, .when,.qa{width:94%;}
}

@media(max-width:618px){
    .screen2-3 .booking .booking-block{margin-top:8px;}
}

@media(max-width:618px){
    .screen2-3 .banner .vertical{width:3px!important;}
}

@media(max-width:618px){
    .screen2-3 .banner .text-medium{margin-left:11px!important;}
}

@media(max-width:409px){
    .screen2-3 .booking .text-semibold{font-size:12px!important;line-height:18px!important;width:40%;}
    .screen2-3 .booking .booking-block{margin-top:3px;}
}

@media(max-width:399px){
    .screen2-3 .booking .booking-block{margin-top:12px;}
}

@media(max-width:330px){
    .screen2-3 .banner .block-contact{padding:18px 25px;}
}