.text-medium {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
  }
    
  .text-bold {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: #000000;
  }
  
  .container {
    width: 80%;
  }
  
  img {
    width: 100%;
  }
  
  hr {
    width: 109px;
    border: 2px solid #000000;
  }
  
  .left {
    padding-left: 0px;
    padding-right: 53px;
  }
  
  .right {
    padding-right: 0px;
    padding-left: 53px;
  }
  
  .block-content {
    margin-top:100px;
  }
  
  li {
    margin-left: 22px;
    margin-bottom: 6px;
  }
  
  a {
    color: #0062FF;
  }
  
  .banner {
    height: 696px;
    width: 100%;
    background: url(/frontend/images/2-6image-13.png);
  }
  
  .text-banner {
    padding-top: 242px;
    margin-left: 199px;
  }
    
  .text-banner .text-medium {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
    
  .text-banner .text-bold {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    width: 46%;
  }
  
  .define .define-title,
  .reason .reason-title {
    text-align: center;
    margin-top: 100px;
  }
  
  .define .text-medium-1 {
    width: 70%;
    margin: auto;
    margin-top: 40px;
  }
  
  .reason .text-medium-1 {
    width: 100%;
    margin: 40px auto;
  }
  
  .hr-2 {
    margin-left: 0px;
  }
  
  .booking {
    margin-top: 100px;
    height: 702px;
    width: 100%;
    background: url(/frontend/images/image15a.png);
  }
  
  .booking .booking-title {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: 327px;
    padding-top: 276px;
    color: #FFFFFF;
  }
  
  .booking .block-booking {
    padding: 25px 31px;
    background: #0429B7;
    border-radius: 5px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 327px;
    width: 300px;
  }
  
  .chose {
    width: 100%;
    height: 674px;
    background: url(/frontend/images/rectangle72a.png);
    margin: auto;
    margin-top: 65px;
    padding-bottom: 38px;
    position: relative;
    background-size: cover;
  }
  
  .chose::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
  
  .chose .text-bold {
    color: #FFFFFF;
    z-index: 1;
    padding: 300px 92px;
  }
  
  .chose .text-medium {
    color: #FFFFFF;
    z-index: 1;
    padding-top: 150px;
  }
  
  .expression .row {
    margin-top:100px;
    margin-right: -14px;
  
  }
  
  .expression .text-medium {
    margin-top: 28px;
  }
  
  .expression li {
    margin-left: -10px;
    margin-bottom: 10px;
  }
  
  .expression .row-2 .right{
    padding-right: 15px;
  }
  
  .block-contact {
    padding: 25px 31px;
    background: #0429B7;
    border-radius: 5px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 30px;
  }
  
  .screen2-6 .library {
    background: url(/frontend/images/image6.png);
    height: 860px;
    margin-top: 100px;
  }
  
  .screen2-6 .library .text {
    text-align: right;
    width: 82%;
    padding: 294px;
  }
  
  .screen2-6 .library .text .text-bold {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 150px;
    color: #FFFFFF;
  }
  
  .screen2-6 .library .text .text-medium {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0062FF;
    text-align: right;
  }
  
  .screen2-6 .library .text hr {
    border: 5px solid #0062FF;
    width: 156px;
    margin-right: 0px;
  }
  
  .qa {
    margin: 100px auto;
    padding: 0;
  }
  
  .qa .text-medium{
    margin-top: 50px;
  }

  .define .text-center {
    display: inline-block;
    margin-top:30px;
  }

  .qa li {
    margin-left: 0px;
    margin-bottom: 6px;
  }
  
  @media only screen and (max-width: 768px) {
    .text-banner {
      padding: 200px 15px 0 15px;
      margin-left: 0;
    }
    .container {
      width: 100%;
    }
    .define .text-medium-1 {
      width: 100%;
    }
  
    .left {
      padding-left: 0px;
      padding-right: 0px;
    }
    .right {
      padding-left: 0px;
      padding-right: 0px;
    }
    .booking .booking-title {
      margin-left: 15px;
    }
    .booking .block-booking {
      margin-left: 15px;
    }
    .chose .text-bold {
      padding: 30px 0px;
    }
    .chose .text-medium {
      padding-top: 0px;
    }
    .chose {
      height: fit-content;
    }
    .expression .row {
      margin-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .expression .row-2 .right {
      padding-right: 0px;
    }
    .expression-title-2 {
      margin-top: 30px;
    }
    .screen2-6 .library .text {
      padding: 150px 0;
    }
    .screen2-6 .library {
      background-position: bottom;
    }
    .text-banner .text-bold {
        width: 100%;
      }
  }