.banner {
    height: 696px;
    width: 100%;
    background: url(/frontend/images/image5-5-1.png);
}
  
.text-banner {
    padding-top: 242px;
    margin-left: 199px;
}
  
.banner .text-banner .text-small {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
  
.banner .text-banner .text-bold {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.content {
    width: 80%;
    margin: auto;
    display: grid;
}

.body-content-1 {
    margin-top: 150px;
}

.body-content-2 {
    margin-top: 150px;
}

.body-content-3 {
    background-color: #111111;
    margin-top: 150px;
}

.body-content-4 {
    margin-top: 100px;
}

.title-body-content-1 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: #000000;
    margin-top: 0px;
    text-align: justify;
}

.line-header-content {
    width: 109px;
    border: 2px solid #000000;
}

.text-body-content-1 {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
}

.button-QA {
    margin-top: 27px;
    background: #0429B7;
    border-radius: 5px;
    padding: 25px 31px 25px 31px;
    border: #0429B7;
}
  
.button-QA:hover {
    text-decoration: none;
}
  
.button-QA > span {
    width: 265px;
    height: 21px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bottom-left-1 {
    position: absolute;
    bottom: 31px;
    left: 61px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 170%;
    text-align: justify;
    color: #FFFFFF;
}

.bottom-left-2 {
    position: absolute;
    bottom: 17px;
    left: 42px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 170%;
    text-align: justify;
    color: #FFFFFF;
}

.bottom-left-3 {
    position: absolute;
    bottom: 22px;
    left: 42px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    text-align: justify;
    color: #FFFFFF;
}

.header-content {
    margin-top: 120px;
    text-align: center;
}

.title-header-content {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
  
.line-header-content {
    width: 109px;
    border: 2px solid #FFFFFF;
}
  
.text-header-content {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    color: #FFFFFF;
}

.block-content-3 {
    width: 90%;
    margin: auto;
}

.block-content-3 > div {
    padding: 30px;
    padding-bottom: 120px;
}

.block-content-3 > div > div > img{
    border-radius: 20px;
    width: 100%;
}

.block-content-3 > div > div > p {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 27px;
}


.body-content-4 > div {
    padding: 30px;
    padding-bottom: 120px;
}

.body-content-4 > div > div > img{
    width: 100%;
}

.body-content-title {
    margin-top: 42px;
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #000000;
}

.body-content-content {
    margin-top: 26px;
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
}

