/* new */
.body-content {
  padding-top: 85px;
}

.main-wrapper {
  padding-top: 210px;
}

img {
  max-width: 100%;
}

.banner {
  height: 696px;
  width: 100%;
  background: url(/public/frontend/images/image13q.png);
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center !important;
}

.text-banner {

  padding-top: 242px;

  margin-left: 199px;

}

  

.text-banner .text-medium {

  font-family: 'WorkSans-Bold';

  font-style: normal;

  font-weight: 700;

  font-size: 24px;

  line-height: 28px;

  color: #FFFFFF;

}

  

.text-banner .text-bold {

  font-family: 'WorkSans-Bold';

  font-style: normal;

  font-weight: 700;

  font-size: 64px;

  line-height: 75px;

  color: #FFFFFF;

}


.main-content {
  width: 60%;
  margin: auto;
  background-color: #333333;
  position: relative;
  left: 20%;
  top: -150px;
  float: left;
}

.main-content>div {
  padding: 91px 74px 117px 74px;
}

.contact-text {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #F4F4F4;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 20px;
}

.contact-text>span {
  padding-left: 15px;
  word-break: break-all;
}

.text-normal {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.form-contact {
  background: #FFFFFF;
  border-radius: 30px;
  margin-top: 72.5px;
}

.form-contact>div {
  padding: 56px 56px 0px 56px;
}

.title-form-contact {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.input-form-contact {
  font-family: 'WorkSans-Medium';
  background: #F1F1F1;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  height: 75px;
  font-size: 20px;
}

.input-form-contact-polici {
  background: #FFFFFF;
  border: 1px solid #D7D7D7;
  font-style: normal;
  font-family: 'WorkSans-Medium';
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  padding: 10px;
}

.checkbox-form-contact {
  padding-top: 16px !important;
  padding-left: 75px !important;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.checkbox-form-contact>input {
  background: #FCFCFC;
  border: 1px solid #898989;
  border-radius: 5px;
}

.checkbox-form-contact>span {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.button-QA {
  margin-top: 20px;
  margin-bottom: 66px;
  background: #0429B7;
  border-radius: 5px;
  padding: 25px 31px 25px 31px;
  border: #0429B7;
  width: 100%;
}

.button-QA:hover {
  text-decoration: none;
}

.button-QA>span {
  width: 265px;
  height: 21px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media only screen and (max-width: 1536px) {
  .text-banner .text-bold {
    font-size: 61px;
  }
}
@media only screen and (max-width: 1397px) {
  .text-banner .text-bold {
    font-size: 59px;
  }
}
@media only screen and (max-width: 1229px) {
  .text-banner .text-bold {
    font-size: 56px;
  }
}
@media only screen and (max-width: 1023px) {
  .body-content {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 969px) {
  .banner-container {
    padding: 20px;
  }

  .banner-content {
    text-align: center;
  }

  .banner-container-2 {
    padding: 20px;
  }

  .banner-content-2 {
    text-align: center;
  }

  .banner-container-3 {
    padding: 20px;
  }

  .banner-content-3 {
    text-align: center;
  }

  .banner-text-small {
    font-size: 16px;
  }

  .banner-text-big-3 {
    font-size: 65px;
  }

  .banner-text-big {
    font-size: 32px;
  }

  .float-right {
    float: left !important;
    margin-top: 30px;
  }

  .main-content {
    width: 100%;
    left: 0%;
    top: 0px;
  }
}

@media only screen and (max-width: 460px) {
  .body-content {
    padding-top: 0px;
  }

  .main-content {
    top: 0px;
  }

  .banner-container {
    height: 220px;
    background-position: center !important;
  }

  .banner-content {
    text-align: left !important;
    margin-top: 20%;
  }

  .banner-content>.banner-text-small {
    font-size: 10px !important;
    line-height: 11.73px !important;
  }

  .banner-content>.banner-text-big {
    font-size: 24px !important;
    line-height: 28.15px !important;
  }

  .text-normal {
    font-size: 16px !important;
    margin-bottom: 7.33px !important;
  }

  .contact-text {
    font-size: 12px !important;
    margin-bottom: 6.36px !important;
  }

  .contact-text>span {
    padding-left: 10px !important;
  }

  .contact-text>img {
    width: 12px !important;
    height: 12px;
  }

  .form-contact {
    margin-top: 27.31px !important;
    border-radius: 10.1093px !important;
  }

  .form-contact>div {
    padding: 14px 18px 0 18px !important;
    margin-bottom: 0 !important;
  }

  .title-form-contact {
    font-size: 14px !important;
  }

  .input-form-contact {
    height: 50px !important;
    border-radius: 1.68px !important;
    font-size: 14px !important;
  }

  .button-QA {
    padding: 18px 31px !important;
    margin-bottom: 36px !important;
  }

  .button-QA>span {
    font-size: 14px !important;
  }

  .footer>.footer-top>.contact {
    display: none;
  }
  .text-banner {

    padding: 60px 15px;

    margin-left: 0;

  }
  .text-banner .text-bold {
    font-size: 24px;
    line-height: inherit;
  }
  .text-banner .text-medium {
    font-size: 10px !important;
    line-height: inherit;
  }
  .banner {
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center !important;
    height: 245px;
  }
  .banner .text-medium span {
    display: block;
  }
  .banner .text-bold span {
    display: block;
  }
}



@media only screen and (max-width: 600px) {
  .main-content>div {
    padding: 20px;
  }

  .form-contact>div {
    padding: 20px;
  }
}