.text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}
  
.text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 150%;
  color: #000000;
}

.form-input .contact,
.form-input .name {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.container {
  width: 80%;
}

.banner {
  height: 696px;
  width: 100%;
  background: url(/frontend/images/image13q.png);
}

.text-banner {
  padding-top: 242px;
  margin-left: 199px;
}
  
.text-banner .text-medium {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
  
.text-banner .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}

.form-input {
  width: 60%;
  background-color: #333333;
  margin: -130px auto;
  padding: 55px 55px;
}

.name {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 150%;
  color: #FFFFFF;
}

.form-input #icon {
  margin-right: 18px;
}

.input-block {
  background: #FFFFFF;
  border-radius: 30px;
  margin-top: 60px;
  padding: 50px;
}

.input-block .text-small {
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.input-block .text-small span {
  color: #FF0D0D;
}

.input-block .block {
  margin-bottom: 45px;
}

.input-block input,
.input-block select {
  background: #F1F1F1;
  border: 1px solid #D7D7D7;
  border-radius: 5px;
  height: 58px;
  width: 100%;
}
