.index {
  height: auto;
}
.for-megadom {
  width: 100%;
  background: url(/frontend/images/c1.png);
  height: 900px;
  /* height: 46.875vw; */
}

.for-megadom .info {
  color: #fff;
  font-family: 'WorkSans-Bold';
  font-weight: 700;
}

.for-megadom-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.for-megadom .info .text-small{
  font-size: 28px;
  line-height: 33px;
  margin-top: 203px;
}

.for-megadom .info .text-big{
  font-size: 90px;
  line-height: 129px;
  margin-bottom: 21px;
  font-weight: 500;
  font-family: 'WorkSans-Medium';
}

.for-megadom .info .text-big .fw-bold{
  font-size: 110px;
}

.for-megadom .info .show-more{
  font-size: 32px;
  line-height: 38px;
  display: flex;
}

.for-megadom .info .show-more p{
  margin: 0;
}

.for-megadom .info .show-more img{
  margin-left: 50px;
}

.for-megadom .logo{
  margin-top: auto;
  margin-bottom: 84px;
}

@media (min-width: 1919px){
  .main-container{
    max-width: 1525px;
  }
  
  .for-megadom .logo img:nth-child(1){
    width: 11.51041vw;
  }

}