.introduce {
  padding-top: 85px;
}
.banner {
  height: 696px;
  width: 100%;
  background: url(/public/frontend/images/image13.png);
}

.text-banner {
  padding-top: 242px;
  padding-left: 199px;
}
  
.banner .text-banner .text-small {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}

.button-QA {
  background: #0429B7;
  border-radius: 5px;
  padding: 25px 31px 25px 31px;
  border: #0429B7;
}

.button-QA:hover {
  text-decoration: none;
}

.button-QA > span {
  width: 265px;
  height: 21px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}
  
.banner .text-banner .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}

.we {
  margin-top: 108px;
  padding: 0px;
  text-align: center;
}

.we .we-title {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 150%;
  color: #000000;
}

.we hr {
  width: 109px;
  background: #000000;
  border: 2px solid #000000;
}

.we-content {
  margin: auto;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
}

.block-content-1 {
  margin: auto;
  margin-top: 130px;
  padding: 0px;
}

.block-content-1 .left .question-title {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 150%;
}

.block-content-1 .left .introduce-content {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
}

.block-content-1 .left .introduce-content span {
  display: block;
  margin-bottom: 25px;
}

.img-content-1 {
  padding: 0px;
}

.block-content-1 .left hr {
  width: 109px;
  border: 2px solid #000000;
  margin-left: 0px;
  background-color: #000000;
}

.left-content-1 {
  padding: 0px;
}

.booking {
  margin-top: 100px;
  height: 702px;
  width: 100%;
  background: url(/public/frontend/images/image15.png);
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: right !important;
}

.booking .booking-title {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  padding-top: 276px;
  color: #FFFFFF;
  padding-left: 327px;
}

.booking .block-booking {
  padding: 25px 31px;
  background: #0429B7;
  border-radius: 5px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
}

.vision {
  padding: 0px;
  padding-top: 100px;
  margin: auto;
}

.vision .vision-title {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  text-align: center;
}

.vision hr {
  width: 109px;
  border: 2px solid #000000;
  margin-bottom: 82px;
  margin-top: 31px;
  background-color: #000000;
}

.vision-contnet {
  margin-top: 25px;
  margin: auto;
}

.vision-contnet .vision-block {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  padding: 0px;
}

.vision-contnet .vision-block .content{
  padding: 0px;
}

.value {
  width: 100%;
  background: url(/public/frontend/images/rectangle72.png);
  margin: auto;
  margin-top: 65px;
  padding-bottom: 38px;
  position: relative;
  background-size: cover;
  display: inline-block;
}

.value::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.value .value-block-content .value-block {
  padding: 0px !important;
}

.value .value-block-content {
  margin: auto;
  position: relative;
  z-index: 1;
}

.value .value-block-content .value-block {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.value .value-block-content .value-block .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 155px;
}

.value .value-block-content .value-block .text-medium {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150.5%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 22px;
}

.value .value-block-content .value-block .value-content {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #FFFFFF;
  margin-top: 14px;
}

.value .value-block-content .value-1 {
  width: 420px;
}

.value .value-block-content .value-1 hr{
  border: 2px solid #FFFFFF;
  width: 109px;
}

.value .value-block-content .value-6,
.value .value-block-content .value-4,
.value .value-block-content .value-5 {
  margin-top: 50px;
}

.block-content-2 {
  padding: 0px;
}

.block-content-2 .content{
  margin-top: 100px;
  padding: 0px;
  width: 690px;
}

.block-content-2 img{
  margin-top: 100px;
  padding: 0px;
}

.block-content-2 .content .delicious-title {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 150%;
  color: #000000;
}

.block-content-2 .content #delicious-hr {
  border: 2px solid #000000;
  width: 109px;
  margin-left: 0px;
}

.block-content-2 .content .delicious-content {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
}

.introduce .library {
  background: url(/public/frontend/images/image6.png);
  height: 860px;
  margin-top: 100px;
}

.introduce .library .text {
  text-align: right;
  width: 36%;
  padding-top: 260px;
  margin: auto;
}

.introduce .library .text .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
  color: #FFFFFF;
}

.introduce .library .text .text-small {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0062FF;
  text-align: right;
}

.introduce .library .text hr {
  border: 5px solid #0062FF;
  width: 156px;
  margin-right: 0px;
}

.difference .difference-title-bold{
  margin-top:100px;
  text-align:center;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 150.69%;
  text-align: center;
  color: #000000;
}

.difference {
  margin-bottom: 100px;
  padding: 0px;
}

.difference hr{
  width: 131.78px;
  border: 2px solid #000000;
}



.difference .difference-content-block .difference-block {
  margin-top: 27px;
  padding: 0px;
  width: 400px;
}

.difference .difference-content-block .difference-block .difference-title{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  height: 55px;
}

.difference .difference-content-block .difference-block .difference-content{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  margin-top: 16px;
  height: 240px;
}
.banner-container-6 {
  background-image: url(/public/frontend/images/image1-2-7.png) !important;
  padding: 16%;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center !important;
}
.banner-container-6 {
  background-image: url(/public/frontend/images/image1-2-7.png) !important;
  padding: 16%;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center !important;
}
.banner-text-big-6 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
  color: #FFFFFF;
  text-align: end;
}
.banner-text-under-6 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: end;
}
.main-wrapper-6 {
  margin-top:100px;
}
.banner-text-under-6 > a {
  color: #0062FF;
  text-decoration: none;
}
.under-6 {
  border: 5px solid #0062FF;
  width: 141px;
  margin-right: 0px;
}
@media only screen and (max-width: 1500px) {
.introduce .library .text .text-bold{font-size: 86px;}
.we .we-title {font-size: 28px;}
.block-content-1 .left .question-title {font-size: 28px;}
.vision .vision-title{font-size: 28px;}
.block-content-2 .content .delicious-title{font-size: 28px;}
.difference .difference-title-bold{font-size: 28px;}
}
@media only screen and (max-width: 1023px) {
  .introduce {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 1010px) {
    .introduce .library .text .text-bold{font-size: 54px;line-height: 50px;}
    .introduce .library .text .text-small{font-size: 22px;}
    .we .we-title {font-size: 24px;}
    .block-content-1 .left .question-title {font-size: 24px;}
    .vision .vision-title{font-size: 24px;}
    .block-content-2 .content .delicious-title{font-size: 24px;}
    .difference .difference-title-bold{font-size: 24px;}
}

@media only screen and (max-width: 768px) {
  .introduce {
    padding-top: 0;
  }
  .booking .block-booking {
    margin-left: 15px;
  }
  .booking .booking-title {
    margin-left: 15px;
  }
  .value {
    height: auto;
  }
  
  .text-banner {
    margin-left: 15px;
  }
  .introduce .library {
    background-position: bottom;
  }
  .banner {
    background: url(/public/frontend/images/image13-1.png);
    height: 220px;
    background-repeat: no-repeat !important;
    background-size: 100% auto;
  }
  .text-banner {
    padding-top: 80px;
    padding-left: 18px;
  }
  .banner .text-banner .text-small{
    font-size: 10px;
    line-height: 12px;
  }
  .banner .text-banner .text-bold{
    font-size: 24px;
    line-height: 28px;
  }
  .we {
    margin-top: 34px;
  }
  .we .we-title {
    font-size: 16px;
    line-height: 150%;
  }
  .we hr {
    width: 45px;
    margin-top: 3px;
    margin-bottom: 13px;
  }
  .we-content {
    font-size: 14px;
    line-height: 150%;
    padding-left: 18px;
    padding-right: 18px;
  }
  .block-content-1{
    margin-top: 48px;
  }
  .mobile-to-top{
    width: 100%;
  }
  .left-content-1 {
    margin-top: 33px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .block-content-1 .left .question-title {
    font-size: 16px;
    line-height: 150%;
  }
  .block-content-1 .left .introduce-content {
    font-size: 14px;
    line-height: 150%;
  }
  .block-content-1 .left hr {
    width: 45px;
    margin-top: 7px;
    margin-bottom: 13px;
  }
  .booking {
    margin-top: 32px;
    background: url(/public/frontend/images/image15-1.png);
    height: 220px;
    background-repeat: no-repeat !important;
    background-size: 100% auto;
  }
  .booking-title-custom {
    padding-top: 71px !important;
    padding-left: 28px !important;
    font-size: 12px !important;
    line-height: 14px !important;
    margin-left: 0px !important;
  }
  .button-QA {
    margin-left: 28px;
    padding: 11.5px 14px;
    border-radius: 2px;
  }
  .button-QA > span{
    font-size: 16px;
    line-height: 19px;
  }
  .vision {
    padding-top: 34px;
  }
  .vision .vision-title{
    font-size: 16px;
    line-height: 19px;
  }
  .vision hr {
    width: 45px;
    margin-top: 7px;
    margin-bottom: 13px;
  }
  .vision-contnet .vision-block {
    font-size: 14px;
    line-height: 150%;
    padding-left: 18px;
    padding-right: 18px;
  }
  .vision-contnet .vision-block .content P{
    padding-bottom: 8px;
  }
  .value {
    background: url(/public/frontend/images/rectangle72-1.png);
    margin-top: 37px;
    background-repeat: no-repeat !important;
    background-size: cover;
  }
  .value .value-block-content .value-block {
    margin-top: 0px;
  }
  .value .value-block-content .value-block .text-bold {
    padding-top: 44px;
    font-size: 16px;
    line-height: 19px;
  }
  .value .value-block-content .value-1 hr {
    width: 45px;
  }
  .icon-value {
    width: 20px;
    padding-top: 50px;
  }
  .value .value-block-content .value-block .text-medium {
    font-size: 16px;
    line-height: 150.5%;
    padding-left: 75px;
    padding-right: 75px;
  }
  .value .value-block-content .value-block .value-content {
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    padding-left: 75px;
    padding-right: 75px;
  }
  .value .value-block-content .value-1{
    width: 100%;
  }
  .block-content-2 img {
    margin-top: 50px;
    width: 100%;
  }
  .block-content-2 .content {
    margin-top: 46px;
    width: 100%;
  }
  .block-content-2 .content .delicious-title {
    font-size: 16px;
    line-height: 19px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .block-content-2 .content #delicious-hr{
    width: 45px;
    margin-left: 18px;
    margin-top: 11px;
    margin-bottom: 15px;
  }
  .block-content-2 .content .delicious-content {
    font-size: 14px;
    line-height: 150%;
    padding-left: 18px;
    padding-right: 18px;
  }
  .introduce .library {
    margin-top: 55px;
    background: url(/public/frontend/images/image6-1.png);
    height: 244px;
    background-size: cover;
  }
  .introduce .library .text {
    padding-top: 64px;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
  }
  .introduce .library .text .text-bold {
    font-size: 52.8461px;
    line-height: 62px;
  }
  .introduce .library .text .text-small{
    font-size: 15.6437px;
    line-height: 18px;
  }
  .introduce .library .text hr{
    width: 76.3px;
  }
  .difference .difference-title-bold {
    margin-top: 42px;
    font-size: 16px;
    line-height: 150.69%;
  }
  .difference hr {
    width: 45px;
    margin-top: 11px;
    margin-bottom: 37px;
  }
  .difference .difference-content-block .difference-block {
    margin: 0px;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 14px;
  }
  .difference .difference-content-block .difference-block .difference-title {
    font-size: 16px;
    line-height: 170%;
    padding-top: 19.42px;
    margin-left: 32.35px;
    margin-right: 32.35px;
    height: fit-content;
  }
  .difference .difference-content-block .difference-block .difference-content {
    font-size: 14px;
    line-height: 170%;
    margin-left: 32.35px;
    margin-right: 32.35px;
    height: fit-content;
    margin-bottom: 16.5px;
  }
  .difference {
    margin-bottom: 0px;
  }
  .banner-container-6 {
    background-image: url(/public/frontend/images/image1-2-7.png) !important;
    padding: 16%;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position: center !important;
  }
  .banner-text-big-6 {
    font-weight: 700;
    font-size: 52.8461px;
    line-height: 62px;
  }
  .banner-text-under-6 {
    font-weight: 700;
    font-size: 15.6437px;
    line-height: 18px;
  }
  .banner-text-under-6 > a {
    color: #0062FF;
  }
  .under-6 {
    border: 2.44432px solid #0062FF;
    background-color: #0062FF;
    width: 77px;
  }
  .main-wrapper-6 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 460px) {
  .introduce {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 350px) {
  .introduce .library .text {
    padding-top: 36px;
  }
  .introduce .library .text .text-bold {
    font-size: 34px;
  }
  .introduce .library .text .text-small {
    font-size: 14px;
  }
}

@media only screen and (max-width: 60px) {
  .introduce .library .text .text-bold{font-size: 28px}
  }