.banner {
  height: 696px;
  width: 100%;
  background: url(/frontend/images/image-banner-post.jpg);
}

.text-banner {
  padding-top: 242px;
  margin-left: 199px;
}

.post-screen .banner .text-banner .text-small {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.post-screen .banner .text-banner .text-bold {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  color: #FFFFFF;
}

.content {
  display: grid;
}

.header-content {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

.body-content {
  width: 80%;
  margin: auto;
  margin-top: 67px;
}

.button-QA {
  background: #0429B7;
  border-radius: 5px;
  padding: 25px 31px 25px 31px;
  border: #0429B7;
}

.button-QA:hover {
  text-decoration: none;
}

.button-QA > span {
  width: 265px;
  height: 21px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.input-group {
  display: inline-flex; 
}

.input-search {
  height: 72px;
  padding: 25px 5px 25px 31px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2F2F2F;
  border-radius: 5px 0px 0px 5px;
  background-color: #F7F7F7;
}

.input-search::placeholder {
  color: #2F2F2F;
}

.input-search:focus {
  border-color: #ccc;
  box-shadow: none;
}

.btn-search {
  width: 71.91px;
  height: 72px;
  background: #0429B7;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.icon-btn-search {
  color: #FFFFFF;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-top: 33%;
}

.post-content {
  border: 1px solid #DDDDDD;
  margin-bottom: 80px;
}

.right-content {
  border: 1px solid #DDDDDD;
  height: fit-content;
}

.title-right-content {
  height: 36px;
  margin-left: 38px;
  margin-top: 40px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.post-categoris {
  margin-top: 20px;
  margin-left: 38px;
  margin-right: 38px;
  padding-bottom: 15px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #0062FF;
  border-bottom: 1px solid #DDDDDD;
}

.post-categoris > span{
  cursor: pointer;
}

.post-categoris:last-child {
  margin-bottom: 50px;
}

.post-content__body {
  margin: 35px 35px 0px 35px;
}

.post-content:last-child {
  margin-bottom: 64px;
}

.image_post {
  margin-bottom: 27px;
}

.title_post {
  margin-bottom: 8px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #0062FF;
}

.time_post {
  margin-bottom: 29px;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #333333;
}

.content_post {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  text-align: justify;
  color: #000000;
  height: 144px;
}

.left-content {
  background-color: rgba(0, 98, 255, 0.2);
  text-align: center;
  padding-top: 27px;
}

.left-content > div {
  border-left: 1px solid #BABABA;
  margin-bottom: 37px;
}

.left-content > div > span {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.list-header {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000000;
}

.list-header > p{
  margin-left: 15px;
  margin-top: 20px;
}


