/* new */
.body-content {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.main-wrapper {
  width: 100%;
}

img {
  max-width: 100%;
}

.banner-text-small {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.banner-text-big {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}

.banner-container {
  background-image: url(/frontend/images/image3-6-1.png) !important;
  padding: 229px 0px 230px 199px;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center right !important;
}

.content-body {
  max-width: 1920px;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.content-body > div > div > p{
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #0062FF;
}

.content-body > div > div > hr {
  margin-top: 63px;
  margin-bottom: 63px;
  border: 1px solid #A0A0A0;
  width: 80%;
  margin-left: 0px;
}

.main-wrapper-2 {
  margin-top: 150px;
}

.banner-container-2 {
  background-image: url(/frontend/images/image3-6-2.png) !important;
  padding: 276px 327px;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center right !important;
}

.banner-text-big-2 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.button-QA {
  margin-top: 27px;
  background: #0429B7;
  border-radius: 5px;
  padding: 25px 31px 25px 31px;
  border: #0429B7;
}

.button-QA:hover {
  text-decoration: none;
}

.button-QA > span {
  width: 265px;
  height: 21px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.banner-container-3 {
  background-image: url(/frontend/images/image3-6-3.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center right !important;
  filter: brightness(0.8);
}

.banner-container-3 > div {
  width: 80%;
  margin: auto;
  padding-top: 152px;
  padding-bottom: 152px;
}

.banner-text-big-3 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 150%;
  color: #FFFFFF;
  padding-top: 7%;
}

.banner-text-small-3 {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  text-align: justify;
  color: #FFFFFF;
}

.banner-container-4 {
  background-image: url(/frontend/images/image1-2-7.png) !important;
  padding: 16%;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center right !important;
}

.banner-text-big-4 {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
  color: #FFFFFF;
  text-align: end;
}

.banner-text-under-4 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0062FF;
  text-align: end;
}

.under-4 {
  border: 5px solid #0062FF;
  width: 141px;
  margin-right: 0px;
}

@media only screen and (max-width: 969px) {
  .banner-container {
    padding: 20px;
  }
  .banner-content {
    text-align: center;
  }

  .banner-text-small {
    font-size: 16px;
  }
  
  .banner-text-big {
    font-size: 32px;
  }
  .banner-content-2 {
    text-align: center;
  }
  .banner-container-2 {
    padding: 20px;
  }
  .banner-content-3 {
    text-align: center;
  }
  .banner-container-3 {
    padding: 20px;
  }
  

  .banner-container-4 {
    padding: 20px;
  }
  .banner-content-4 {
    text-align: center;
  }

  .banner-text-big-4 {
    font-size: 65px;
  }
}