
.banner {
    height: 696px;
    width: 100%;
    background: url(/frontend/images/image3-2-1.png);
  }
  
  .text-banner {
    padding-top: 242px;
    margin-left: 199px;
  }
  
  .banner .text-banner .text-small {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .banner .text-banner .text-bold {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
  }
  
  .content {
    margin-top: 118px;
    margin-left: 199px;
    margin-right: 199px;
  }
  
  .title-header-content {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #000000;
  }
  
  .line-header-content {
    width: 109px;
    border: 2px solid #000000;
  }
  
  .text-header-content {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
  }
  
  .body-content {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
  }
  
  .title-body-content-1 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: #000000;
    margin-top: 0px;
  }
  
  .text-body-content-1 {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
  }
  
  .banner-2 {
    margin-top: 150px;
    height: 696px;
    width: 100%;
    background: url(/frontend/images/image3-15.png);
  }
  
  .text-banner-2 {
    padding-top: 276px;
    margin-left: 327px;
  }
  
  .banner-2 .text-banner-2 .text-small-2 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
  }
  
  .banner-2 .text-banner-2 .text-bold-2 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  
  .button-banner {
    margin-top: 24px;
    background: #0429B7;
    border-radius: 5px;
    padding: 25px 31px 25px 31px;
    border: #0429B7;
  }
  
  .button-banner:hover {
    text-decoration: none;
  }
  
  .button-banner > span {
    width: 265px;
    height: 21px;
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .body-content-3 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .body-content-part-3 {
    width: 690px;
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
  }
  
  .banner-4 {
    height: 674px;
    background: rgba(0, 0, 0, 0.4) url(/frontend/images/Rectangle3-73.png);
    background-blend-mode: darken;
  }
  
  .text-banner-4 {
    margin-left: 302px;
    margin-right: 199px;
  }
  
  .text-small-4 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
  }
  
  .text-bold-4 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #FFFFFF;
  }
  
  .text-banner-4-child {
    display: flex;
    justify-content: space-between;
  }
  
  .text-banner-4-part-1 {
    width: 469px;
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 272px;
  }
  
  .text-banner-4-part-2 {
    width: 690px;
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 152px;
  }
  
  .body-content-4-part-1 {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    color: #000000;
  }
  
  .button-banner-4 {
    margin-top: 24px;
    background: #0429B7;
    border-radius: 5px;
    padding: 25px 31px 25px 31px;
    border: #0429B7;
  }
  
  .button-banner-4:hover {
    text-decoration: none;
  }
  
  .button-banner-4 > span {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .banner-5 {
    margin-top: 139px;
    height: 860px;
    background: url(/frontend/images/image3-4-6.png);
  }
  
  .text-banner-5 {
    padding-top: 294px;
    padding-left: 671px;
  }
  
  .text-bold-5 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 150px;
    color: #FFFFFF;
  }
  
  .text-small-5 {
    font-family: 'WorkSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0062FF;
    text-align: right;
    padding-right: 641px;
  }
  .text-small-5 > hr {
    width: 156px;
    border: 5px solid #0062FF;
    margin-right: 0px;
  }
  
  .text-body-content-4 {
    font-family: 'WorkSans-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
  }