@font-face{
  font-family:WorkSans-Bold;
  src: url('../fonts/WorkSans-Bold.ttf');
}
@font-face{
  font-family:WorkSans-Medium;
  src: url('../fonts/WorkSans-Medium.ttf');
}
@font-face{
  font-family:WorkSans-SemiBold;
  src: url('../fonts/WorkSans-SemiBold.ttf');
}
@font-face{
  font-family:RobotoFlex;
  src: url('../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf');
}
@font-face{
  font-family:WorkSans-Regular;
  src: url('../fonts/WorkSans-Regular.ttf');
}
