@font-face{
  font-family:WorkSans-Bold;
  src: url('../fonts/WorkSans-Bold.ttf');
}
@font-face{
  font-family:WorkSans-Medium;
  src: url('../fonts/WorkSans-Medium.ttf');
}
@font-face{
  font-family:WorkSans-SemiBold;
  src: url('../fonts/WorkSans-SemiBold.ttf');
}
@font-face{
  font-family:RobotoFlex;
  src: url('../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf');
}
@font-face{
  font-family:WorkSans-Regular;
  src: url('../fonts/WorkSans-Regular.ttf');
}
/* ------------Header--------------- */
/* Header */
.menu-top{z-index:99;}
.img-logo {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 66px;
}
.info-menu {
  margin-left: auto;
  display: flex;
  margin-right: 66px;
  margin-top: auto;
  margin-bottom: auto;
}
.phone-number {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}
.order-calender {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}
.hotline {
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-left: 10px;
}

.header {
  position: relative;
  width: 100%; 
  float: left;
  z-index: 9999;
  margin-top: -1px;
}

.header #logo {
  width: 430px;
  margin-top: 22px;
  margin-left: 66px;
}

.header #icon {
/*  position: absolute;
  left: 76.7%;
  top: 19.05%;*/
  margin-top: -10px;
  margin-right: 13px;
  width: unset;
}

/* Hotline */
.header .hotline {
/*  position: absolute;*/
/*  width: 85px;*/
/*  height: 28px;
  left: 78.4%;
  top: 37px;*/
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

/* 098 534 2323 */
.header p {
/*  position: absolute;
  width: 164px;
  height: 28px;
  left: 74.5%;
  top: 66px;*/
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  gap: 10px;
  position: absolute;
/*  width: 236px;
  height: 76px;*/
  right: 92px;
  top: 28px;
  background: #0429B7;
  border-radius: 5px;
  float: right;
}

.header div span {
/*  width: 174px;
  height: 26px;*/ 
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header hr {
  position: absolute;
  width: 93%;
  height: 0px;
  left: 66px;
  top: 104px;
  border: 1px solid #929292;
}

.header #block-bottom {
  position: absolute;
  width: 100%;
  height: 85px;
  left: 0px;
  top: 125px;
  background: #111B27;
}

/* VỀ MEGADOM */
.header #item-1 {
  position: absolute;
  width: 125px;
  height: 21px;
  left: 10.6%;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

/* THẨM MỸ NAM KHOA */
.header #item-2 {
  position: absolute;
  width: 190px;
  height: 21px;
  left: 25%;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

/* BỆNH LÝ NAM KHOA */
.header #item-3 {
  position: absolute;
  width: 179px;
  height: 21px;
  left: 43.5%;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  
  color: #FFFFFF;
}

/* THƯ VIỆN */
.header #item-4 {
  position: absolute;
  width: 86px;
  height: 21px;
  left: 61.5%;
  top: 156px;  
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  
  color: #FFFFFF;
}

/* TIN TỨC */
.header #item-5 {
  position: absolute;
  width: 73px;
  height: 21px;
  left: 74.5%;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}


/* LIÊN HỆ */
.header #item-6 {
  position: absolute;
  width: 72px;
  height: 21px;
  left: 86%;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

/* ----------------footer---------------------- */
.footer {
  position: relative;
  width: 100%;
/*  height: 1759px;*/
  float: left;
  /*margin-top:166px;*/
}

.footer .footer-top {
  position: relative;
  width: 100%;/*
  height: 1013px;
  left: 0px;
  top: 0px;*/
  float: left;
}

.footer .footer-top .contact {
/*  position: relative;*/
  width: 100%;
  height: 700px;
/*  left: 0px;
  top: 0px;*/
  background: url(/public/frontend/images/image8.png) 100% no-repeat;
  float: left;
}

.footer .footer-top .contact img{
  position: relative;
  width: 66%;
/*  height: 370px;*/
  left: 17%;
  top: 165px;
/*  bottom: 1224px;*/
  background: #FFFFFF;
  float: left;
}

.footer .block-contact {
/*  display: flex;
  flex-direction: row;
  align-items: flex-start;*/
  padding: 25px 31px;
/*  gap: 10px;*/
  position: relative;
  width: 769px;
/*  height: 97px;*/
/*  left: 30%;*/
/*  bottom: 1396px;*/
  background: #0429B7;
  border-radius: 5px;
  top: 101px;
  margin: auto;
}

.footer .block-contact .call {
/*  width: 707px;
  height: 47px;*/
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
/*  flex: none;
  order: 0;
  flex-grow: 0;*/
  margin: auto;
}

.footer .contact .number {
  position: relative;
  width: 100%;
/*  height: 47px;*/
/*  left: 43%;*/
/*  bottom: 1325px;*/
  top: 115px;
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #0429B7;
}

.footer .footer-top #image-1 {
  position: relative;
  width: 15.6%;
/*  height: 106px;*/
  left: 10.2%;
  top: 160px;
  float: left;
}

.footer .footer-top #image-2 {
  position: relative;
    width: 11.4%;
    /* height: 159px; */
    left: 18.6%;
    /* bottom: 762px; */
    top: 130px;
    float: left;
}
.footer .footer-top #image-3 {
  position: relative;
    width: 11.2%;
    /* height: 191px; */
    left: 27%;
    top: 115px;
    float: left;
}
.footer .footer-top #image-4 {
  position: relative;
    width: 14.7%;
    /* height: 120px; */
    left: 35%;
    top: 86px;
    float: left;
}

.footer .footer-bottom {
  position: relative;
  width: 100%;
  height: 608px;
/*  left: 0px;*/
  top: 230px;
  /*background: url(/public/frontend/images/rectangle23.png) 100% no-repeat;*/
  float: left;
  /*background-size:100%;*/
  background:#161612;
}

.footer .footer-bottom #logo {
/*  position: relative;*/
/*  width: 512px;*/
/*  height: 132px;*/
/*  right: 7.2%;*/
/*  top: 118px;*/
  float: right;
}

.footer .footer-bottom .phone-number {
  position: relative;
  width: 100%;
/*  height: 21px;
  left: 76.8%;*/
  top: 6px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  float: right;
}

.footer .footer-bottom .address {
  position: relative;
  width: 100%;
/*  height: 42px;
  left: 63.9%;*/
  top: 20px;
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  float: right;
}

.footer .footer-bottom .text-left {
  position: relative;
/*  width: 282px;
  height: 260.71px;*/
  left: 10.2%;
  top: 99px;
  float: left;
  margin-right: 40px;
}

.footer .footer-bottom .text-left p {
  position: relative;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer .footer-bottom .text-left .text-1 {
/*  width: 144px;
  height: 30.33px;*/
}

.footer .footer-bottom .text-left .text-2 {
/*  width: 142px;
  height: 21px;*/
  top: 28.71px;
}

.footer .footer-bottom .text-left .text-3 {
/*  width: 282px;
  height: 21px;*/
  top: 57.71px;
}

.footer .footer-bottom .text-left .text-4 {
/*  width: 196px;*/
  top: 86.71px;
}

.footer .footer-bottom .text-left .text-5 {
/*  width: 85px;
  height: 21px;*/
  top: 115.71px;
}

.footer .footer-bottom .text-right {
  position: relative;
/*  width: 248px;*/
  left: 16.5%;
  top: 99px;
  float: left;
  text-align: left;
}

.footer .footer-bottom .text-right p {
  position: relative;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer .footer-bottom .text-right .text-1 {
/*  height: 21px;*/
}

.footer .footer-bottom .text-right .text-2 {
/*  height: 21px;*/
  top: 28.71px;
}

.footer .footer-bottom .text-right .text-3 {
  height: 21px;
  top: 54.71px;
}

.footer .footer-bottom .text-right .text-4 {
/*  height: 21px;*/
  top: 86.71px;
}

.footer .footer-bottom #image-1 {
  position: relative;
  left: 0;
/*  right: 88.54%;
  top: 79.77%;
  bottom: 16.28%;*/
  float: left;
}

.footer .footer-bottom #image-2 {
  position: relative;
/*  width: 25.31px;
  height: 24px;*/
  left: 2%;
/*  top: 485px;*/
float: left;
}

.footer .footer-bottom #image-3 {
  position: relative;
  left: 4%;
/*  right: 81.82%;
  top: 79.77%;
  bottom: 16.28%;*/
  float: left;
}

.footer .footer-bottom #image-4 {
  position: relative;
  left: 6%;
/*  right: 78.28%;
  top: 80.1%;*/
  bottom: -2px;
  float: left;
}

.footer .footer-bottom .members {
  position: relative;
  left: 8%;
/*  right: 74.36%;*/
/*  top: 14.26%;*/
/*  bottom: 22px;*/
  float: left;
}

.footer .footer-bottom #image-5 {
  position: relative;
  left: 8.32px;
}

.footer .footer-bottom #image-5-1 {
  position: relative;
  top:-20.84px;
}

.footer .footer-bottom #image-5-2 {
  position: relative;
  top: -20.84px;
  left: 7.87px
}

.footer .footer-bottom .footer-end {
  position: relative;
/*  left: 0%;
  right: 0%;
  top: 87.01%;*/
  bottom: -350px;
  background: #0429B7;
  width: 100%;
  float: left;
  height: 80px;
}

.footer .footer-bottom .footer-end p {
  position: relative;
/*  left: 38.28%;
  right: 38.28%;*/
  top: 27px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  float: left;
}




.main-wrapper-banner-library {
  margin-top: 120px;
}
.banner-container-banner-library {
  background-image: url(/public/frontend/images/image1-2-7.png) !important;
  padding: 16%;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center !important;
}
.banner-text-big-banner-library {
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 150px;
  color: #FFFFFF;
  text-align: end;
}
.banner-text-under-banner-library {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: end;
}
.banner-text-under-banner-library > a {
  color: #0062FF;
}
.under-banner-library {
  border: 5px solid #0062FF;
  width: 141px;
  margin-right: 0px;
  background-color: #0062FF;
}





.paginate-custom{
   border-radius: unset !important;
    border: 2px solid #0062FF!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 22px!important;
    line-height: 26px!important;
    text-align: center!important;
    color: #0062FF!important;
}
.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span{
  color: #777!important;
  border: 2px solid #777!important;
}

.pager > .my-active > span{
  background-color: #ddd;
}

.contact-footer{width: 31%;float: right;position: relative;text-align: right;right: 10.2%;top:158px}

.footer-social{width: 100%;float: left;position: relative;bottom: -348px;padding-left: 10.2%;}

.footer .contact>div{width: 900px;height: 370px;margin: 165px auto;background: #fff;}

nav ul ul{padding-left: 10px}

nav>ul>li>ul>li>ul{left: 100%;top: -45px;display: none!important;width: 80%}
nav>ul>li>ul>li:hover>ul{display: block!important;}

@media(max-width:1800px){
  nav>ul>li:nth-child(2)>ul{width: 120%!important}
}

@media(max-width:1600px){
  nav>ul>li:nth-child(3)>ul{width: 120%!important}
  nav>ul>li:nth-child(5)>ul{width: 170%!important}
}

@media(max-width:1500px){
/*  .footer .footer-bottom .text-left{left: 4%}*/
  /*.footer-social{padding-left: 4%}*/
  .contact-footer{width: 42%}
}

@media(max-width:1400px){
  nav>ul>li:nth-child(2)>ul{width: 120%!important}
}

@media(max-width:1330px){
  .footer .footer-bottom .text-right{left: 11.5%}
}

@media(max-width:1300px){
  nav>ul>li:nth-child(1)>ul{padding-left: 5px!important}
  nav>ul>li:nth-child(3)>ul{width: 120%!important}
  nav>ul>li:nth-child(5)>ul{width: 170%!important}
}

@media(max-width:1280px){
  .footer .contact>div{width: 900px}
  .footer .block-contact{width: 600px}
  .footer .block-contact .call,.footer .contact .number{font-size: 30px}
}

@media(max-width:1250px){
/*  .footer .footer-bottom .text-right{left: 6.5%}*/
  .footer .footer-bottom .text-left p,.footer .footer-bottom .text-right p{font-size:14px}
}

@media(max-width:1199px){
  nav>ul{padding: 0 30px!important}
  nav>ul>li:nth-child(1){padding-left: 0!important}
  nav>ul>li:nth-child(3){width: 22%!important}
  nav>ul>li:nth-child(4){width: 14%!important}
  .header div{right: 30px}
  .header hr{width: 89.5%}
}

@media(max-width:1100px){
/*  .footer .footer-bottom .text-left{left:2%}*/
  /*.footer-social{padding-left: 2%}*/
  .footer .footer-bottom .text-right{left: 20.5%}
  .contact-footer{right: 2%;width: 100%;top: 208px}
  .footer .footer-top #image-1{top: 147px}
  .footer .footer-top #image-4{top: 143px}
  .contact-footer{right: 10.2%}
  .footer .footer-bottom{height: 778px;background: #161616}
}

@media(max-width:1023px){
  .footer .footer-bottom .text-left{width: 40%;top:65px}
  .footer .footer-bottom .text-right{left: 4.5%;width: 40%;top:65px}
  .contact-footer{width: 100%;top: 208px}
  .header hr{width: 87.5%}
  nav>ul>li>ul{left: 225px!important}
  .menu-top{padding: 0;left: 66px;width: 260px!important}
  nav>ul>li:nth-child(2)>ul{width: 120%!important}
  nav>ul>li>ul>li>ul{left: 339px!important;width: 255px}
  nav>ul>li:nth-child(3)>ul{width: 120%!important}
  nav>ul>li:nth-child(5)>ul{width: 103%!important}
}

@media only screen and (max-width: 970px) {
  .main-wrapper-banner-library{
    margin-top: 30px;
  }
  .banner-text-big-banner-library{
    font-weight: 700;
    font-size: 52.8461px;
    line-height: 62px;
  }
  .banner-text-under-banner-library{
    font-weight: 700;
    font-size: 15.6437px;
    line-height: 18px;
  }
  .under-banner-library{
    border: 2.44432px solid #0062FF;
    background-color: #0062FF;
    width: 77px;
  }
}

@media(max-width:940px){
  .header #logo{width: 330px;top: 33px;left: 53px}
  .header hr{left: 53px}
  .menu-mobile{padding-left: 53px!important}
  .footer .contact>div{width: 730px}
  .footer .block-contact{width: 500px}
  .footer .block-contact .call, .footer .contact .number{font-size: 23px}
  nav>ul{padding: 0!important}
  nav>ul>li>ul{left: 132px!important;padding-left: 3px}
  .menu-top{width: 137px!important;font-size: 12px;left: 53px}
  nav>ul>li:nth-child(2) ul li{font-size: 8px!important}
  nav ul ul li{font-size: 10px!important}
  nav>ul>li>ul>li>ul{top: -33px;background: transparent;left: 0!important}
  nav>ul>li>ul>li>ul>li{height: 20px!important}
  nav>ul>li:nth-child(5)>ul{width: 130%!important}
  .footer {margin-top:0px;}
}

/*
@media(max-width:910px){
  .header #logo{height: 70px;width: unset;top: 30px;left: 0px}
  .header hr{left: 53px}
  .menu-mobile{padding-left: 50px!important}
}*/

@media(max-width:840px){
  .header #logo{width: 270px;top: 40px;left: 38px}
  .header hr{left: 38px;width: 91.5%}
  .menu-mobile{padding-left: 38px!important}
  .header div{padding: 25px 20px;padding-right: 0;}
  .hotline-phone{right: 208px!important}
  .header #icon{width: 17px!important}
  .header .hotline,.header p,.header div span{font-size:20px}
  .menu-top{left: 38px}
}

@media(max-width:750px){
  .footer .contact>div{width: 560px}
  .footer .block-contact{width: 475px}
  .footer .block-contact .call, .footer .contact .number{font-size: 23px}.footer .footer-bottom .text-left {
    margin-right: 0px;
  }  
}



@media(max-width:705px){
  .footer .footer-bottom .text-left{width: 50%}
  .footer .footer-bottom .text-right{width: 45%;left: 3%}
}

@media(max-width:670px){
  .header #logo{width: 220px;top: 43px;left: 3%}
  .header hr{left: 3%;width: 94%}
  .menu-mobile{padding-left: 3%!important}
  .header div{right: 3%}
  .hotline-phone{right: 174px!important}
  .header #icon{width: 14px!important}
  .header .hotline,.header p,.header div span{font-size:17px}
  .footer .footer-top #image-1{width: 20%;left: 3.2%}
  .footer .footer-top #image-2{width: 20%;left: 4.6%}
  .footer .footer-top #image-3{width: 20%;left: 6%}
  .footer .footer-top #image-4{width: 30%;left: 7%}
  .menu-top{left: 3%}
  .footer .footer-bottom .text-left{left: 3.2%}
  .footer-social{padding-left: 3.2%}
  .contact-footer{right: 3.2%}
  .footer .footer-bottom #image-2{left: 4%}
  .footer .footer-bottom #image-3{left: 8%}
  .footer .footer-bottom #image-4{left: 12%}
  .footer .footer-bottom .members{left: 16%}
}

@media(max-width:580px){
  .footer .contact>div{width: 430px;height: 270px}
  .footer .block-contact{width: 380px;top:60px}
  .footer .block-contact .call{font-size: 18px}
  .footer .contact .number{font-size: 28px!important;top:86px}
  .footer .footer-top .contact{height: 600px}
/*  .footer .footer-bottom .text-left p,.footer .footer-bottom .text-right p{font-size: 16px}*/
}

@media(max-width:550px){
  .header #logo{width: 190px;top: 43px;left: 3%}
  .header hr{left: 3%;width: 94%}
  .menu-mobile{padding-left: 3%!important}
  .header div{padding: 25px 0;right: 3%}
  .hotline-phone{right: 140px!important}
  .header #icon{width: 12px!important;margin-top: -6px;margin-right: 6px}
  .header .hotline,.header p,.header div span{font-size:15px}
}

@media(max-width:505px){
  .footer .footer-bottom .text-left p,.footer .footer-bottom .text-right p{font-size: 14px}
}

@media(max-width:460px){
  .header #logo{width: 155px;top: 15px;left: 3%}
  .header hr{top: 38px!important}
  .menu-mobile{font-size: 45px!important;height: 43px!important}
  .menu-mobile section{line-height: 1!important}
  .header div{top: -9px!important}
  .hotline-phone{right: 120px!important;padding-top: 0!important;height: 58px!important}
/*  .header #icon{width: 12px!important;margin-top: -6px;margin-right: 6px}*/
  .header .hotline,.header p,.header div span{font-size:13px}
  .header{height: 102px!important}
  .footer .footer-top #image-1{width: 42.5%;left: 3%}
  .footer .footer-top #image-2{width: 42.5%;left: 12%}
  .footer .footer-top #image-3{width: 36.5%;left: 6%;top: 80px}
  .footer .footer-top #image-4{width: 44.5%;left: 16%;top: 73px}
  .footer .footer-bottom .address{font-size: 16px}
  .footer .block-contact {
    padding: 5px 6px;
    border-radius: 0%;
    width: fit-content;
  }
  .footer .contact .number{
    font-size: 14px !important;
    line-height: 16px;
  }
  /*.footer .contact>div{*/
  /*  width: 396px!important;*/
  /*  height: 140px!important;*/
  /*  margin:30px auto!important;*/
  /*}*/
  .footer .footer-top .contact{
    height:200px!important;
    /* margin-top:50px!important; */
  }
  /*.footer .block-contact{*/
  /*  top: 36px !important;*/
  /*}*/
  .footer .contact .number{
    top: 47px;
  }
  .footer .footer-top #image-1{top:60px!important;}
  .footer .footer-top #image-2{top:50px!important;}
  .footer .footer-bottom{top:130px!important;}
  .footer .footer-bottom #image-1,.footer .footer-bottom #image-2,.footer .footer-bottom #image-3,.footer .footer-bottom #image-4,.footer .footer-bottom .members{margin-left:11%!important;position:unset!important;}
  .footer .footer-top .contact{background-size:100%;}
  .footer .contact>div{width:290px!important;height:90px!important;margin:55px auto!important;}
  .footer .block-contact{top:21px!important;padding:0 6px;}
  .footer .block-contact .call{font-size: 14px;line-height:2;}
  .footer .contact .number{top:30px;}
}

@media(max-width:440px){
  .footer .footer-bottom .text-left p,.footer .footer-bottom .text-right p{font-size: 12px}
  .footer .footer-bottom #logo{width: 308px}
  .footer .footer-bottom{height: 765px}
}

@media(max-width:410px){
  .footer .footer-bottom .address{font-size: 14px}
  .footer .footer-bottom .footer-end p{font-size: 16px}
  .footer .footer-bottom #image-1{margin-left:10.5%!important;}
}

@media(max-width:400px){
  /*.footer .contact>div{width:290px!important;height:90px!important;margin:55px auto!important;}*/
  /*.footer .block-contact{top:21px!important;padding:0 6px;}*/
  /*.footer .block-contact .call{font-size: 14px;line-height:2;}*/
  /*.footer .contact .number{top:30px;}*/
}

@media(max-width:380px){
  .header #logo{width: 155px;top: 15px;left: 3%}
  .header hr{top: 38px!important}
  .menu-mobile{font-size: 45px!important}
  .menu-mobile section{line-height: 1!important}
  .header div{top: 35px!important;padding: 0!important}
  .hotline-phone{right: 3%!important;padding-top: 0!important;height: 58px!important}
  .header p{position: relative;top: -15px}
  .header .hotline,.header p,.header div span{font-size:13px}
  .header{height: 102px!important}
  .menu-top{left: 0}
  .footer .footer-bottom .footer-end p{font-size: 14px}
  .footer .footer-bottom .text-left p,.footer .footer-bottom .text-right p{font-size: 10px}
}

@media(max-width:360px){
  .footer .footer-bottom .address{font-size: 12px}
  .footer .footer-bottom #image-1{margin-left:8%!important;}
}

@media(max-width:320px){
  .footer .footer-bottom #image-1{margin-left:5%!important;}
}

@media(min-width:1921px){
    .footer .footer-top .contact{background-size:100%;}
}
