@font-face{
  font-family:WorkSans-Bold;
  src: url('../fonts/WorkSans-Bold.ttf');
}
@font-face{
  font-family:WorkSans-Medium;
  src: url('../fonts/WorkSans-Medium.ttf');
}
@font-face{
  font-family:WorkSans-SemiBold;
  src: url('../fonts/WorkSans-SemiBold.ttf');
}
@font-face{
  font-family:RobotoFlex;
  src: url('../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf');
}
@font-face{
  font-family:WorkSans-Regular;
  src: url('../fonts/WorkSans-Regular.ttf');
}
/* ------------Header--------------- */
/* Header */
.header {
  position: relative;
  width: 1920px; 
  height: 210px;

  background: #0429B7;
}

.header #logo {
  position: absolute;
  width: 472px;
  height: 83px;
  left: 6px;
  top: 22px;
}

.header #icon {
  position: absolute;
  left: 1465px;
  top: 19.05%;
}

/* Hotline */
.header .hotline {
  position: absolute;
  width: 85px;
  height: 28px;
  left: 1498px;
  top: 37px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

/* 098 534 2323 */
.header p {
  position: absolute;
  width: 160px;
  height: 28px;
  left: 1423px;
  top: 66px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  gap: 10px;
  position: absolute;
  width: 236px;
  height: 76px;
  left: 1602px;
  top: 28px;
  background: #0429B7;
  border-radius: 5px;
}

.header div span {
  width: 174px;
  height: 26px; 
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header hr {
  position: absolute;
  width: 1781px;
  height: 0px;
  left: 70px;
  top: 104px;
  border: 1px solid #929292;
}

.header #block-bottom {
  position: absolute;
  width: 1920px;
  height: 85px;
  left: 0px;
  top: 125px;
  background: #111B27;
}

/* VỀ MEGADOM */
.header #item-1 {
  position: absolute;
  width: 125px;
  height: 21px;
  left: 199px;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

/* THẨM MỸ NAM KHOA */
.header #item-2 {
  position: absolute;
  width: 190px;
  height: 21px;
  left: 484px;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

/* BỆNH LÝ NAM KHOA */
.header #item-3 {
  position: absolute;
  width: 179px;
  height: 21px;
  left: 838px;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  
  color: #FFFFFF;
}

/* THƯ VIỆN */
.header #item-4 {
  position: absolute;
  width: 86px;
  height: 21px;
  left: 1183px;
  top: 156px;  
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  
  color: #FFFFFF;
}

/* TIN TỨC */
.header #item-5 {
  position: absolute;
  width: 73px;
  height: 21px;
  left: 1424px;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}


/* LIÊN HỆ */
.header #item-6 {
  position: absolute;
  width: 72px;
  height: 21px;
  left: 1650px;
  top: 156px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.navbar-default {
  background-color: #111B27;
  border: none;
}
.navbar-default .navbar-nav>li>a {
font-family: 'WorkSans-Bold';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #FFFFFF;
}

.navbar-nav {
width: 100%;
display: flex;
justify-content: center;
}

.nav>li>a {
position: relative;
display: block;
padding: 31px 40px;
}

.topbar-logo {
background-color: #0429B7;
height: 125px;
}

.navbar-right {
padding-right: 113px;
}

.text-topbar {
font-family: 'WorkSans-Bold';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}

/* Smartphone */
@media only screen and (max-width:767px) and (min-width:320px){
  header .navbar .navbar-nav {width: 100%;}
  header .navbar-default .navbar-nav>li {border-right: 0;}
  header .navbar-default .navbar-nav>li>a {padding: 20px 0;font-size: 14px;}
  header .navbar-default .topbar ul {padding: 0;}
  header .navbar-default .topbar ul li {display: block;text-align: center;padding: 5px 0;}
  header .navbar-default .topbar ul li:after{ content: " "}
  header .navbar-default .topbar .pull-right{margin-top: -24px;}
  header .navbar-default .topbar {padding: 10px 0;}
  header .second_menu{display: inline-block;}
  header .navbar-fixed-bottom .navbar-collapse, header .navbar-fixed-top .navbar-collapse {max-height: none;padding: 0;}
  header .navbar-header {text-align: center;}
  header .navbar-toggle {float: none;border: 0;}
  header .toggle-products{font-size:16px;color:#FFF;text-transform:uppercase;line-height:0;}
  header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-toggle:hover {background: transparent;}
  header .mobile_search .form-control {border-radius: 0;border: 0;height: 50px;}
  header .mobile_search button.btn-primary{background-color:#58585A;border-color:#58585A;border:0;text-transform:uppercase;border-radius:0;padding:15px;}
}
/* Tablet */
@media only screen and (min-width:768px) and (max-width:959px){
  header .navbar-default .topbar a {font-size: 12px;}
  header .navbar-default .navbar-nav>li>a{font-size:14px;color:#FFF;text-transform:uppercase;line-height:0;padding: 20px 20.6px;}
  header .collapse.in{display:block!important;}
  header .navbar .navbar-nav{display:block;float:none;vertical-align:top;}
  header .navbar .navbar-collapse{text-align:center;}
  header .navbar-header{text-align: center;}
  header .navbar-right button{padding:5px 20px;margin:0;font-size:20px;float: right;}
  header .navbar-brand>img {height: 45px;}
  header .navbar-toggle{float: none; border: 0;}
  header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: transparent;}
  header .navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
  header .input-group-btn button{padding: 13px 20px;}
  header .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {max-height: none;padding: 0;}
}
/* Tablet Landscape */
@media only screen and (min-width:960px) and (max-width:1199px){
  header .navbar-default .topbar a {font-size: 12px;}
  header .navbar-default .navbar-nav>li>a{font-size:14px;color:#FFF;text-transform:uppercase;line-height:0;padding:20px 34px;}
  header .collapse.in{display:block!important;}
  header .navbar .navbar-nav{display:block;float:none;vertical-align:top;}
  header .navbar .navbar-collapse{text-align:center;}
  header .navbar-header{text-align: center;}
  header .navbar-right button{padding:5px 20px;margin:0;font-size:20px;float: right;}
  header .navbar-brand>img {height: 45px;}
  header .navbar-toggle{float: none; border: 0;}
  header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: transparent;}
  header .navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
  header .input-group-btn button{padding: 13px 20px;}
  header .navbar-fixed-bottom .navbar-collapse, header .navbar-fixed-top .navbar-collapse {max-height: none;padding: 0;}
}
/* Laptop 13' - 1366x768 No-Retina */
@media only screen and (min-width:1200px) and (max-width:1366px){
  header .navbar-default .navbar-nav>li>a {padding: 30px 41.6px;}
}


/* ----------------footer---------------------- */
.footer {
  position: relative;
  width: 1920px;
  height: 1759px;
}

.footer .footer-top {
  position: absolute;
  width: 1920px;
  height: 1013px;
  left: 0px;
  top: 0px;
}

.footer .footer-top .contact {
  position: absolute;
  width: 1920px;
  height: 700px;
  left: 0px;
  top: 0px;
  background: url(/frontend/images/image8.png);
}

.footer .footer-top .contact img{
  position: absolute;
  width: 1266px;
  height: 370px;
  left: 327px;
  top: 165px;
  bottom: 1224px;
  background: #FFFFFF;
}

.footer .block-contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 31px;
  gap: 10px;
  position: absolute;
  width: 769px;
  height: 97px;
  left: 548px;
  bottom: 1396px;
  background: #0429B7;
  border-radius: 5px;
  top: 266px;
}

.footer .block-contact .call {
  width: 707px;
  height: 47px;
  font-family: 'WorkSans-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer .contact .number {
  position: absolute;
  width: 267px;
  height: 47px;
  left: 827px;
  bottom: 1325px;
  top: 387px;
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #0429B7;
}

.footer .footer-top #image-1 {
  position: absolute;
  width: 299px;
  height: 106px;
  left: 196px;
  top: 865px;
}

.footer .footer-top #image-2 {
  position: absolute;
  width: 219px;
  height: 159px;
  left: 626px;
  bottom: 762px;
  top: 838px;
}
.footer .footer-top #image-3 {
  position: absolute;
  width: 215px;
  height: 191px;
  left: 976px;
  top: 822px;
}
.footer .footer-top #image-4 {
  position: absolute;
  width: 397px;
  height: 120px;
  left: 1322px;
  top: 858px;
}

.footer .footer-bottom {
  position: absolute;
  width: 1920px;
  height: 608px;
  left: 0px;
  top: 1151px;
  background: url(/frontend/images/rectangle23.png);
}

.footer .footer-bottom #logo {
  position: absolute;
  width: 512px;
  height: 132px;
  left: 1269px;
  top: 118px;
}

.footer .footer-bottom .phone-number {
  position: absolute;
  width: 245px;
  height: 21px;
  left: 1476px;
  top: 239px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}

.footer .footer-bottom .address {
  position: absolute;
  width: 491px;
  height: 42px;
  left: 1225px;
  top: 282px;
  font-family: 'WorkSans-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}

.footer .footer-bottom .text-left {
  position: absolute;
  width: 282px;
  height: 260.71px;
  left: 196px;
  top: 99px;
}

.footer .footer-bottom .text-left p {
  position: absolute;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer .footer-bottom .text-left .text-1 {
  width: 144px;
  height: 30.33px;
}

.footer .footer-bottom .text-left .text-2 {
  width: 142px;
  height: 21px;
  top: 59.71px;
}

.footer .footer-bottom .text-left .text-3 {
  width: 282px;
  height: 21px;
  top: 119.71px;
}

.footer .footer-bottom .text-left .text-4 {
  width: 196px;
  top: 179.71px;
}

.footer .footer-bottom .text-left .text-5 {
  width: 85px;
  height: 21px;
  top: 239.71px;
}

.footer .footer-bottom .text-right {
  position: absolute;
  width: 248px;
  height: 200.71px;
  left: 586px;
  top: 99px;
}

.footer .footer-bottom .text-right p {
  position: absolute;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.footer .footer-bottom .text-right .text-1 {
  height: 21px;
}

.footer .footer-bottom .text-right .text-2 {
  height: 21px;
  top: 59.71px;
}

.footer .footer-bottom .text-right .text-3 {
  height: 21px;
  top: 119.71px;
}

.footer .footer-bottom .text-right .text-4 {
  height: 21px;
  top: 179.71px;
}

.footer .footer-bottom #image-1 {
  position: absolute;
  left: 10.21%;
  right: 88.54%;
  top: 79.77%;
  bottom: 16.28%;
}

.footer .footer-bottom #image-2 {
  position: absolute;
  width: 25.31px;
  height: 24px;
  left: 260px;
  top: 485px;

}

.footer .footer-bottom #image-3 {
  position: absolute;
  left: 16.93%;
  right: 81.82%;
  top: 79.77%;
  bottom: 16.28%;
}

.footer .footer-bottom #image-4 {
  position: absolute;
  left: 20.26%;
  right: 78.28%;
  top: 80.1%;
  bottom: 16.67%;
}

.footer .footer-bottom .members {
  position: absolute;
  left: 23.8%;
  right: 74.36%;
  top: 80.26%;
  bottom: 16.78%;
}

.footer .footer-bottom #image-5 {
  position: absolute;
  left: 8.32px;
}

.footer .footer-bottom #image-5-1 {
  position: absolute;
  top:3.16px;
}

.footer .footer-bottom #image-5-2 {
  position: absolute;
  top: 3.16px;
  left: 23.87px
}

.footer .footer-bottom .footer-end {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 87.01%;
  bottom: -0.16%;
  background: #0429B7;
}

.footer .footer-bottom .footer-end p {
  position: absolute;
  left: 38.28%;
  right: 38.28%;
  top: 25px;
  font-family: 'WorkSans-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}


.pagination_custom {
  margin-top: 0px;
  margin-bottom: 136px;
}

.pager li>a, .pager li>span {
  display: inline-block;
  padding: 17px 25px 17px 25px;
  background-color: #fff;
  border: 2px solid #0062FF;
  color: #0062FF;
  font-family: 'WorkSans-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  border-radius: 0%;
}

.pager .active span{
  background-color: rgb(219 219 219);
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
  color: #0062FF;
  cursor: not-allowed;
  background-color: #fff;
}
